In [1]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8)),
     (('1218','120012','06/03/2021'),('Blackberry',8),('Strawberry',6),('jackfruit',60),('mango',15),('apple',10),('WaterMelon',95))]




cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40)]





tr_cu_un = []

tr_item_un = []

tr_un_bill = []

tr_un_date = []

def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_name = tr[i][j][0]
        tr_bill = tr[i][0][1]
        tr_date = tr[i][0][2]

        if cu_un_id not in tr_cu_un:
            tr_cu_un.append(cu_un_id)
            

        if item_un_name not in tr_item_un:
            tr_item_un.append(item_un_name)


        if tr_date not in tr_un_date:
            tr_un_date.append(tr_date)
        
    tr_un_bill.append(tr_bill)

#******************************************************************************************************************************************************


def main_tr_db():

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            a_sum = a_sum + amount
            x = x+1




            
            print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                             {:>5}".format(a_sum))

#******************************************************************************************************************************************************

def bill_wise_detail(c_bill):
    c_bill = c_bill

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0
    a_sum = 0


    print("{}      {}     {:<8}  {}    {:<10} {} {:>4} {:>3}  {:>6}  {:>6}".format('Bill','Date','Cu_Name','Cu_ID','Item','Item_code','Item_rate','Quantity','Amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            
            amount = item_rate * quantity
            
            if bill == c_bill:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id


                print("{}  {}  {:<8} {}    {:<10}    {}     {:>4}    {:>3}      {:>6}   {:>6}".format(bill,date,t_name,t_id,item,item_code,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                     {:>6}".format(a_sum))
    print()

#******************************************************************************************************************************************************


def bill_wise_detail_all():
    for i in range(len(tr_un_bill)):
        bill_wise_detail(tr_un_bill[i])
        print()
        print()

#******************************************************************************************************************************************************

def bill_wise_total(c_bill):

    c_bill = c_bill
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    c_sum = 0
    x = 0

    print(" {:<8}   {}     {}   {}   {:>6} {:>6}".format('Bill','Date','Cu_ID','Cu_Name','Amount_Sum','C_Sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if bill == c_bill:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
                t_bill = bill 
                t_date = date
                t_name = tr_cu_name
    c_sum = c_sum + a_sum
    print("{:<8} {}  {}    {:<8}  {:>6}    {:>6}".format(t_bill,t_date,t_id,t_name,a_sum,c_sum))
    
#******************************************************************************************************************************************************

def bill_wise_summary():
    
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0

    print(" {:<8}   {}     {}   {}   {:>6} {:>6}".format('Bill','Date','Cu_ID','Cu_Name','Amount_Sum','C_Sum'))
    print()

    for u in range(len(tr_un_bill)):
        c_bill = tr_un_bill[u]
        a_sum = 0

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if bill == c_bill:
                    a_sum = a_sum + amount
                    t_name = tr_cu_name
                    t_id = tr_cu_id
                    t_bill = bill 
                    t_date = date
                    t_name = tr_cu_name
        c_sum = c_sum + a_sum
        print("{:<8} {}  {}    {:<8}  {:>6}    {:>6}".format(t_bill,t_date,t_id,t_name,a_sum,c_sum))
    print()
    print("Total ::                               {:>6}".format(c_sum))

#******************************************************************************************************************************************************

def cust_wise_detail(cust_id):

    cust_id = cust_id
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    c_sum = 0
    x = 0

    print("{:<8}   {:<5}    {:<8}    {:<10} {:<10} {:>6}   {:>4}    {:>3}     {:>6}  {:>6}".format('Cu_Name','Cu_ID','Date','Bill','Item','Item_code','Item_rate','Quantity','Amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
        

            if tr_cu_id == cust_id:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id

                print("{:<8}   {:<5}   {:<8}  {:<10} {:<10} {:>6}        {:>4}          {:>3}       {:>6}   {:>6}".format(t_name,t_id,date,bill,item,item_code,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                                   {:>6}".format(a_sum))
    print()

#******************************************************************************************************************************************************                

def cust_wise_detail_all():
    for i in range(len(tr_cu_un)):
        cust_wise_detail(tr_cu_un[i])
        print()
        print()

#******************************************************************************************************************************************************

def cust_wise_summary():

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0

    print("{:<8}     {:<6}  {:>6}   {:>6}".format('Cu_Name','Cu_ID','Amount_Sum','C_Sum'))
    print()

    for u in range(len(tr_cu_un)):
        cust_id = tr_cu_un[u]
        a_sum = 0

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if tr_cu_id == cust_id:
                    a_sum = a_sum + amount
                    t_name = tr_cu_name
                    t_id = tr_cu_id
                    t_bill = bill 
                    t_date = date
                    t_name = tr_cu_name
        c_sum = c_sum + a_sum
        print("{:<8}     {:<6}  {:>6}      {:>6}".format(t_name,t_id,a_sum,c_sum))
    print()
    print("Total ::                         {:>6}".format(c_sum))

#******************************************************************************************************************************************************

def date_wise_summary():
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0


    print("  {:<10}    {:>6}   {:>6}".format('Date','Amount','a_sum'))
    print()

    for u in range(len(tr_un_date)):
        cu_date = tr_un_date[u]
        a_sum = 0

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if date == cu_date:
                    a_sum = a_sum + amount
                    t_name = tr_cu_name
                    t_id = tr_cu_id
                    t_date = date
                    t_amount = amount
        c_sum = c_sum + a_sum
        print("{:<10}    {:>6}    {:>6}".format(t_date,a_sum,c_sum))
    print()
    print("Total ::      {:>6}".format(c_sum))
                    
#******************************************************************************************************************************************************

def date_wise_amount(i_date):

    i_date = i_date
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    a_sum = 0
    x = 0


    print("  {}         {:>6}".format('Date','Amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if date == i_date:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
                t_date = date
                t_amount = amount

                
    c_sum = c_sum + a_sum
    print("{}    {:>6}".format(t_date,c_sum))
    print()

#***************************************************************************************************************************************************** 
   

def date_wise_detail_all():
    for i in range(len(tr_un_date)):
        date_wise_detail(tr_un_date[i])
        print()
        print()

#******************************************************************************************************************************************************

def date_wise_detail(cu_date):

    cu_date = cu_date
    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    a_sum = 0
    x = 0

    print("{}          {}    {}   {:<8}  {:<10} {} {:>4}  {:>3}     {:>6}  {:>6}".format('Date','Bill','Cu_ID','Cu_Name','Item','Item_code','Item_rate','Qty','Amount','a_sum'))
    print()


    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            
            if date == cu_date:
                a_sum = a_sum + amount
                t_name = tr_cu_name
                t_id = tr_cu_id
                t_date = cu_date
                print("{}    {}   {}   {:<8}  {:<10}  {}     {:>4}     {:>3}     {:>6}   {:>6}".format(t_date,bill,t_id,t_name,item,item_code,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                      {:>6}".format(a_sum))
    print()
                
#******************************************************************************************************************************************************

# 23480

def item_wise_detail(i_name):
    i_name = i_name

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    q_sum = 0
    x = 0
    
    print("{:>3}     {:<10} {:<8}  {:<6}   {:<5}   {:<5}   {:<8}  {:>3}  {:>3}  {:>6} {:>6}".format('x','date','bill','item','item_code','cu_id',\
                'cu_name','item_rate','qty','amount','a_sum'))
    print()


    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity


            if item == i_name:
                a_sum = a_sum + amount
                q_sum = q_sum + quantity
                x = x+1

                print("{:>3}  {:<10}   {:<8}  {:<10} {:<5}      {:<5}   {:<8}    {:>3}    {:>3} {:>6}   {:>6}".format(x,date,bill,item,\
                    item_code,tr_cu_id,tr_cu_name,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                                    {:>4} {:>6}".format(q_sum,a_sum))
                
  


def item_wise_detail_all():
    for u in range(len(tr_item_un)):
        item_wise_detail(tr_item_un[u])
        print()
        print()


def item_wise_summary():


    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    x = 0

    print("  {:<10}   {:<6}   {:>3}   {:>6}   {:>6}  {:>6}".format('Item_name','Item_Code','Item_Rate','Quantity','T_Amount','C_Sum'))
    print()

    for u in range(len(tr_item_un)):
        i_name = tr_item_un[u]
        a_sum = 0
        q_sum = 0

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity

                if item == i_name:
                    a_sum = a_sum + amount
                    q_sum = q_sum + quantity
                    t_item_code = item_code
                    t_item_name = item
                    t_item_rate = item_rate
                    

                    
        c_sum = c_sum + a_sum        
        print("  {:<10}     {:<6}      {:>3}     {:>6}       {:>6}    {:>6}".format(t_item_name,t_item_code,t_item_rate,q_sum,a_sum,c_sum))
    print()
    print("Total ::                                          {:>6}".format(c_sum))
    print()




def item_wise_amount(i_name):
    i_name = i_name

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    q_sum = 0
    x = 0

    print("  {:<10}   {:<6}   {:>3}   {:>6}   {:>6}".format('Item_name','Item_Code','Item_Rate','Quantity','T_Amount'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
        
            

            if item == i_name:
                a_sum = a_sum + amount
                q_sum = q_sum + quantity
                t_item_name = i_name
                t_item_code = item_code
                t_item_rate = item_rate
                
                        
    print("  {:<10}     {:<6}      {:>3}     {:>6}       {:>6}".format(t_item_name,t_item_code,t_item_rate,q_sum,a_sum))
    print()

#******************************************************************************************************************************************************



def item_cust(i_name,c_name):
    i_name = i_name
    c_name = c_name

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    s_amount = 0
    x = 0
    prn2 = 0
    

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if item == i_name:
                if tr_cu_name == c_name:
                    s_amount = s_amount + amount   
                    prn2 = s_amount
    return prn2
                
#******************************************************************************************************************************************************

def col_sum(cst_name):
    s = 0
    cst_name = cst_name
    for i in range(len(tr_item_un)):
        k = tr_item_un[i]
        a = item_cust(k,cst_name)
        pr_h = "{:<10} {:>3}".format(k,a)
        pr_o = "{:>3}".format(a)
        s = s + a
    return s

#******************************************************************************************************************************************************



def item_cust_matrix():

    print("{:<10}".format('Item_Name'),end = '  ')
    for i in range(len(tr_cu_un)):
        cm_name = cu_name_id(tr_cu_un[i])
        print("{:<7} ".format(cm_name),end = ' ')
    print("{:>5}   {:>8}".format('Sum','C_Sum'))
    print()


    sum_g = 0   #This is for cumulative total sum
    it = 0
    co_sum = 0
    s_sum = 0

    for j in range(len(tr_item_un)):
        sum1 = 0   #This is for each total sum
        ina = tr_item_un[j]
        print("{:<10}".format(ina),end = '  ')

        for i in range(len(tr_cu_un)):
            n = cu_name_id(tr_cu_un[i])
            it = item_cust(ina,n)
            sum1 = sum1 + it
            sum_g = sum_g + it
            print("{:>5} ".format(it),end = '   ')
        print("{:>5} {:>10}".format(sum1,sum_g))

    print()

    print("{:<10}".format('Col_Total'),end = '  ')
    for i in range(len(tr_cu_un)):
        q = cu_name_id(tr_cu_un[i])
        pr = col_sum(q)
        s_sum = s_sum + pr
        print("{:>5} ".format(pr),end = '   ')
    print(s_sum)    

#******************************************************************************************************************************************************



def item_cust_detail(i_name,c_name):
    i_name = i_name
    c_name = c_name

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    s_amount = 0
    x = 0
    prn2 = 0
    q_sum = 0
    x = 0

    print("{:>3}     {:<10} {:<8}  {:<6}   {:<5}   {:<5}   {:<8}  {:>3}  {:>3}  {:>6} {:>6}".format('Sn','date','bill','item','item_code','cu_id',\
                'cu_name','item_rate','qty','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if item == i_name:
                if tr_cu_name == c_name:
                    s_amount = s_amount + amount   
                    q_sum = q_sum + quantity
                    x = x+1
                    #prn2 = s_amount
                    print("{:>3}  {:<10}   {:<8}  {:<10} {:<5}      {:<5}   {:<8}    {:>3}    {:>3} {:>6}   {:>6}".format(x,date,bill,item,\
                    item_code,tr_cu_id,tr_cu_name,item_rate,quantity,amount,s_amount))
    print()
    print("Total ::                                                                    {:>4} {:>6}".format(q_sum,s_amount))

In [2]:
cu_name_id('1212')

'Sahil'

In [3]:
bill_wise_summary()

 Bill       Date     Cu_ID   Cu_Name   Amount_Sum  C_Sum

120001   27/02/2021  1210    Rajesh       360       360
120002   27/02/2021  1211    Rakesh       820      1180
120003   27/02/2021  1212    Sahil       1570      2750
120004   28/02/2021  1213    Jack         900      3650
120005   28/02/2021  1214    Steve        555      4205
120006   02/03/2021  1215    Rohan       3570      7775
120007   03/03/2021  1211    Rakesh      2000      9775
120008   04/03/2021  1214    Steve       1620     11395
120009   05/03/2021  1215    Rohan       3020     14415
120010   05/03/2021  1216    Millan      3260     17675
120011   05/03/2021  1217    mikul        780     18455
120012   06/03/2021  1218    smile      11230     29685

Total ::                                29685

In [7]:
date_wise_detail('03/03/2021')

Date          Bill    Cu_ID   Cu_Name   Item       Item_code Item_rate  Qty     Amount   a_sum

03/03/2021    120007   1211   Rakesh    dates       1008      100      15       1500     1500
03/03/2021    120007   1211   Rakesh    banana      1009       10      10        100     1600
03/03/2021    120007   1211   Rakesh    orange      1002       40      10        400     2000

Total ::                                                                        2000

In [10]:
date_wise_summary()

  Date          Amount    a_sum

27/02/2021      2750      2750
28/02/2021      1455      4205
02/03/2021      3570      7775
03/03/2021      2000      9775
04/03/2021      1620     11395
05/03/2021      7060     18455
06/03/2021     11230     29685

Total ::       29685

In [9]:
date_wise_detail_all()

Date          Bill    Cu_ID   Cu_Name   Item       Item_code Item_rate  Qty     Amount   a_sum

27/02/2021    120001   1210   Rajesh    apple       1001       60       3        180      180
27/02/2021    120001   1210   Rajesh    grapes      1005       45       4        180      360
27/02/2021    120002   1211   Rakesh    pears       1003       30       6        180      540
27/02/2021    120002   1211   Rakesh    mango       1004       50       8        400      940
27/02/2021    120002   1211   Rakesh    orange      1002       40       6        240     1180
27/02/2021    120003   1212   Sahil     pears       1003       30       2         60     1240
27/02/2021    120003   1212   Sahil     apple       1001       60       3        180     1420
27/02/2021    120003   1212   Sahil     orange      1002       40       4        160     1580
27/02/2021    120003   1212   Sahil     cherry      1012       90       5        450     2030
27/02/2021    120003   1212   Sahil     mango       1004       50       6        300     2330
27/02/2021    120003   1212   Sahil     apple       1001       60       7        420     2750

Total ::                                                                        2750



Date          Bill    Cu_ID   Cu_Name   Item       Item_code Item_rate  Qty     Amount   a_sum

28/02/2021    120004   1213   Jack      orange      1002       40       9        360      360
28/02/2021    120004   1213   Jack      pears       1003       30       8        240      600
28/02/2021    120004   1213   Jack      pineapple   1007       60       5        300      900
28/02/2021    120005   1214   Steve     grapes      1005       45       3        135     1035
28/02/2021    120005   1214   Steve     apple       1001       60       7        420     1455

Total ::                                                                        1455



Date          Bill    Cu_ID   Cu_Name   Item       Item_code Item_rate  Qty     Amount   a_sum

02/03/2021    120006   1215   Rohan     mango       1004       50      12        600      600
02/03/2021    120006   1215   Rohan     orange      1002       40      13        520     1120
02/03/2021    120006   1215   Rohan     guava       1006       40       8        320     1440
02/03/2021    120006   1215   Rohan     Strawberry  1010      150      10       1500     2940
02/03/2021    120006   1215   Rohan     cherry      1012       90       7        630     3570

Total ::                                                                        3570



Date          Bill    Cu_ID   Cu_Name   Item       Item_code Item_rate  Qty     Amount   a_sum

03/03/2021    120007   1211   Rakesh    dates       1008      100      15       1500     1500
03/03/2021    120007   1211   Rakesh    banana      1009       10      10        100     1600
03/03/2021    120007   1211   Rakesh    orange      1002       40      10        400     2000

Total ::                                                                        2000



Date          Bill    Cu_ID   Cu_Name   Item       Item_code Item_rate  Qty     Amount   a_sum

04/03/2021    120008   1214   Steve     dates       1008      100      13       1300     1300
04/03/2021    120008   1214   Steve     banana      1009       10      10        100     1400
04/03/2021    120008   1214   Steve     Blackberry  1011      110       2        220     1620

Total ::                                                                        1620



Date          Bill    Cu_ID   Cu_Name   Item       Item_code Item_rate  Qty     Amount   a_sum

05/03/2021    120009   1215   Rohan     dates       1008      100      12       1200     1200
05/03/2021    120009   1215   Rohan     apple       1001       60      10        600     1800
05/03/2021    120009   1215   Rohan     mango       1004       50      10        500     2300
05/03/2021    120009   1215   Rohan     cherry      1012       90       8        720     3020
05/03/2021    120010   1216   Millan    apple       1001       60       6        360     3380
05/03/2021    120010   1216   Millan    dates       1008      100       8        800     4180
05/03/2021    120010   1216   Millan    jelly       1013       20       5        100     4280
05/03/2021    120010   1216   Millan    jackfruit   1014       40      50       2000     6280
05/03/2021    120011   1217   mikul     mango       1004       50       6        300     6580
05/03/2021    120011   1217   mikul     apple       1001       60       8        480     7060

Total ::                                                                        7060



Date          Bill    Cu_ID   Cu_Name   Item       Item_code Item_rate  Qty     Amount   a_sum

06/03/2021    120012   1218   smile     Blackberry  1011      110       8        880      880
06/03/2021    120012   1218   smile     Strawberry  1010      150       6        900     1780
06/03/2021    120012   1218   smile     jackfruit   1014       40      60       2400     4180
06/03/2021    120012   1218   smile     mango       1004       50      15        750     4930
06/03/2021    120012   1218   smile     apple       1001       60      10        600     5530
06/03/2021    120012   1218   smile     WaterMelon  1001       60      95       5700    11230

Total ::                                                                       11230

In [4]:
bill_wise_total('120002')

 Bill       Date     Cu_ID   Cu_Name   Amount_Sum  C_Sum

120002   27/02/2021  1211    Rakesh       820       820

In [5]:
bill_wise_detail('120002')

Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120002  27/02/2021  Rakesh   1211    pears         1003       30      6         180      180
120002  27/02/2021  Rakesh   1211    mango         1004       50      8         400      580
120002  27/02/2021  Rakesh   1211    orange        1002       40      6         240      820

Total ::                                                                        820

In [6]:
bill_wise_detail_all()

Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120001  27/02/2021  Rajesh   1210    apple         1001       60      3         180      180
120001  27/02/2021  Rajesh   1210    grapes        1005       45      4         180      360

Total ::                                                                        360



Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120002  27/02/2021  Rakesh   1211    pears         1003       30      6         180      180
120002  27/02/2021  Rakesh   1211    mango         1004       50      8         400      580
120002  27/02/2021  Rakesh   1211    orange        1002       40      6         240      820

Total ::                                                                        820



Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120003  27/02/2021  Sahil    1212    pears         1003       30      2          60       60
120003  27/02/2021  Sahil    1212    apple         1001       60      3         180      240
120003  27/02/2021  Sahil    1212    orange        1002       40      4         160      400
120003  27/02/2021  Sahil    1212    cherry        1012       90      5         450      850
120003  27/02/2021  Sahil    1212    mango         1004       50      6         300     1150
120003  27/02/2021  Sahil    1212    apple         1001       60      7         420     1570

Total ::                                                                       1570



Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120004  28/02/2021  Jack     1213    orange        1002       40      9         360      360
120004  28/02/2021  Jack     1213    pears         1003       30      8         240      600
120004  28/02/2021  Jack     1213    pineapple     1007       60      5         300      900

Total ::                                                                        900



Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120005  28/02/2021  Steve    1214    grapes        1005       45      3         135      135
120005  28/02/2021  Steve    1214    apple         1001       60      7         420      555

Total ::                                                                        555



Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120006  02/03/2021  Rohan    1215    mango         1004       50     12         600      600
120006  02/03/2021  Rohan    1215    orange        1002       40     13         520     1120
120006  02/03/2021  Rohan    1215    guava         1006       40      8         320     1440
120006  02/03/2021  Rohan    1215    Strawberry    1010      150     10        1500     2940
120006  02/03/2021  Rohan    1215    cherry        1012       90      7         630     3570

Total ::                                                                       3570



Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120007  03/03/2021  Rakesh   1211    dates         1008      100     15        1500     1500
120007  03/03/2021  Rakesh   1211    banana        1009       10     10         100     1600
120007  03/03/2021  Rakesh   1211    orange        1002       40     10         400     2000

Total ::                                                                       2000



Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120008  04/03/2021  Steve    1214    dates         1008      100     13        1300     1300
120008  04/03/2021  Steve    1214    banana        1009       10     10         100     1400
120008  04/03/2021  Steve    1214    Blackberry    1011      110      2         220     1620

Total ::                                                                       1620



Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120009  05/03/2021  Rohan    1215    dates         1008      100     12        1200     1200
120009  05/03/2021  Rohan    1215    apple         1001       60     10         600     1800
120009  05/03/2021  Rohan    1215    mango         1004       50     10         500     2300
120009  05/03/2021  Rohan    1215    cherry        1012       90      8         720     3020

Total ::                                                                       3020



Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120010  05/03/2021  Millan   1216    apple         1001       60      6         360      360
120010  05/03/2021  Millan   1216    dates         1008      100      8         800     1160
120010  05/03/2021  Millan   1216    jelly         1013       20      5         100     1260
120010  05/03/2021  Millan   1216    jackfruit     1014       40     50        2000     3260

Total ::                                                                       3260



Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120011  05/03/2021  mikul    1217    mango         1004       50      6         300      300
120011  05/03/2021  mikul    1217    apple         1001       60      8         480      780

Total ::                                                                        780



Bill      Date     Cu_Name   Cu_ID    Item       Item_code Item_rate Quantity  Amount   a_sum

120012  06/03/2021  smile    1218    Blackberry    1011      110      8         880      880
120012  06/03/2021  smile    1218    Strawberry    1010      150      6         900     1780
120012  06/03/2021  smile    1218    jackfruit     1014       40     60        2400     4180
120012  06/03/2021  smile    1218    mango         1004       50     15         750     4930
120012  06/03/2021  smile    1218    apple         1001       60     10         600     5530
120012  06/03/2021  smile    1218    WaterMelon    1001       60     95        5700    11230

Total ::                                                                      11230