In [1]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8)),
     (('1218','120012','06/03/2021'),('Blackberry',8),('Strawberry',6),('jackfruit',60),('mango',15),('apple',10),('WaterMelon',95))]



cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40),('1015','WaterMelon',58)]





tr_cu_un = []

tr_item_un = []

tr_un_bill = []

tr_un_date = []

def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_name = tr[i][j][0]
        tr_bill = tr[i][0][1]
        tr_date = tr[i][0][2]

        if cu_un_id not in tr_cu_un:
            tr_cu_un.append(cu_un_id)
            

        if item_un_name not in tr_item_un:
            tr_item_un.append(item_un_name)


        if tr_date not in tr_un_date:
            tr_un_date.append(tr_date)
        
    tr_un_bill.append(tr_bill)

def main_tr_db():

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            a_sum = a_sum + amount
            x = x+1




            
            print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                             {:>5}".format(a_sum))

#******************************************************************************************************************************************************

In [2]:
main_tr_db()

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120001 27/02/2021  1210       Rajesh    apple       60          3      180     180
120001 27/02/2021  1210       Rajesh    grapes      45          4      180     360
120002 27/02/2021  1211       Rakesh    pears       30          6      180     540
120002 27/02/2021  1211       Rakesh    mango       50          8      400     940
120002 27/02/2021  1211       Rakesh    orange      40          6      240    1180
120003 27/02/2021  1212       Sahil     pears       30          2       60    1240
120003 27/02/2021  1212       Sahil     apple       60          3      180    1420
120003 27/02/2021  1212       Sahil     orange      40          4      160    1580
120003 27/02/2021  1212       Sahil     cherry      90          5      450    2030
120003 27/02/2021  1212       Sahil     mango       50          6      300    2330
120003 27/02/2021  1212       Sahil     apple       60          7      420    2750
120004 28/02/2021  1213       Jack      orange      40          9      360    3110
120004 28/02/2021  1213       Jack      pears       30          8      240    3350
120004 28/02/2021  1213       Jack      pineapple   60          5      300    3650
120005 28/02/2021  1214       Steve     grapes      45          3      135    3785
120005 28/02/2021  1214       Steve     apple       60          7      420    4205
120006 02/03/2021  1215       Rohan     mango       50         12      600    4805
120006 02/03/2021  1215       Rohan     orange      40         13      520    5325
120006 02/03/2021  1215       Rohan     guava       40          8      320    5645
120006 02/03/2021  1215       Rohan     Strawberry 150         10     1500    7145
120006 02/03/2021  1215       Rohan     cherry      90          7      630    7775
120007 03/03/2021  1211       Rakesh    dates      100         15     1500    9275
120007 03/03/2021  1211       Rakesh    banana      10         10      100    9375
120007 03/03/2021  1211       Rakesh    orange      40         10      400    9775
120008 04/03/2021  1214       Steve     dates      100         13     1300   11075
120008 04/03/2021  1214       Steve     banana      10         10      100   11175
120008 04/03/2021  1214       Steve     Blackberry 110          2      220   11395
120009 05/03/2021  1215       Rohan     dates      100         12     1200   12595
120009 05/03/2021  1215       Rohan     apple       60         10      600   13195
120009 05/03/2021  1215       Rohan     mango       50         10      500   13695
120009 05/03/2021  1215       Rohan     cherry      90          8      720   14415
120010 05/03/2021  1216       Millan    apple       60          6      360   14775
120010 05/03/2021  1216       Millan    dates      100          8      800   15575
120010 05/03/2021  1216       Millan    jelly       20          5      100   15675
120010 05/03/2021  1216       Millan    jackfruit   40         50     2000   17675
120011 05/03/2021  1217       mikul     mango       50          6      300   17975
120011 05/03/2021  1217       mikul     apple       60          8      480   18455
120012 06/03/2021  1218       smile     Blackberry 110          8      880   19335
120012 06/03/2021  1218       smile     Strawberry 150          6      900   20235
120012 06/03/2021  1218       smile     jackfruit   40         60     2400   22635
120012 06/03/2021  1218       smile     mango       50         15      750   23385
120012 06/03/2021  1218       smile     apple       60         10      600   23985
120012 06/03/2021  1218       smile     WaterMelon  58         95     5510   29495

Total ::                                                             29495

In [3]:


def item_date(i_name,c_date):
    i_name = i_name
    c_date = c_date

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    s_amount = 0
    x = 0
    prn2 = 0
    

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if item == i_name:
                if date == c_date:
                    s_amount = s_amount + amount   
                    prn2 = s_amount
    return prn2

In [10]:
item_date('apple','27/02/2021')

780

In [4]:
def col_sum(c_date):
    s = 0
    c_date = c_date
    for i in range(len(tr_item_un)):
        k = tr_item_un[i]
        a = item_date(k,c_date)
        s = s + a
    return s

In [5]:


print("{:<10}".format('Item_Name '),end = '  ') #THSIS PRINT PRINTS THE ITEM NAME HEADING.

for i in range(len(tr_un_date)):          #This loop prints only headings of customers.
    i_date = tr_un_date[i]
    print(" {:<8}".format(i_date),end = '   ')
print("{:>5}   {:>5}".format('s_sum','C_sum'),end = ' ')
print()
print()


#THIS IS THE MAIN PROGRAM OR MAIN ENGINE.
c_sum = 0
for j in range(len(tr_item_un)):
    m = tr_item_un[j]
    sum1 = 0
    print("{:<10}".format(m),end = '  ')
    for i in range(len(tr_un_date)):
        a = tr_un_date[i]
        u = item_date(m,a)
        sum1 = sum1 + u
        c_sum =  c_sum + u
        print("   {:>5}".format(u),end = '      ')
    print("{:>5}  {:>6}".format(sum1,c_sum))
    
print()
print("{:<10}".format('Col_Total '),end = '  ')     #THIS (PRINT) PRINTS THE COL_TOTAL AT THE END OF THE COLUMN

sum_g = 0
s = 0
for j in range(len(tr_un_date)):
    c_date  = tr_un_date[j]
    for i in range(len(tr_item_un)):
        k = tr_item_un[i]
        a = item_date(k,c_date)
        s = s + a
    sum_g = sum_g + s
    print(" {:>8} ".format(s),end = '    ')
#print(sum_g)

Item_Name    27/02/2021    28/02/2021    02/03/2021    03/03/2021    04/03/2021    05/03/2021    06/03/2021   s_sum   C_sum

apple            780           420             0             0             0          1440           600       3240    3240
grapes           180           135             0             0             0             0             0        315    3555
pears            240           240             0             0             0             0             0        480    4035
mango            700             0           600             0             0           800           750       2850    6885
orange           400           360           520           400             0             0             0       1680    8565
cherry           450             0           630             0             0           720             0       1800   10365
pineapple          0           300             0             0             0             0             0        300   10665
guava              0             0           320             0             0             0             0        320   10985
Strawberry         0             0          1500             0             0             0           900       2400   13385
dates              0             0             0          1500          1300          2000             0       4800   18185
banana             0             0             0           100           100             0             0        200   18385
Blackberry         0             0             0             0           220             0           880       1100   19485
jelly              0             0             0             0             0           100             0        100   19585
jackfruit          0             0             0             0             0          2000          2400       4400   23985
WaterMelon         0             0             0             0             0             0          5510       5510   29495

Col_Total        2750          4205          7775          9775         11395         18455         29495

In [2]:
import Main_Project00 as main

In [3]:
main.item_cust_matrix()

Item_Name   Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile      Sum      C_Sum

apple         180        0      600        0      420      600      360      480      600     3240       3240
grapes        180        0        0        0      135        0        0        0        0      315       3555
pears           0      180       60      240        0        0        0        0        0      480       4035
mango           0      400      300        0        0     1100        0      300      750     2850       6885
orange          0      640      160      360        0      520        0        0        0     1680       8565
cherry          0        0      450        0        0     1350        0        0        0     1800      10365
pineapple       0        0        0      300        0        0        0        0        0      300      10665
guava           0        0        0        0        0      320        0        0        0      320      10985
Strawberry      0        0        0        0        0     1500        0        0      900     2400      13385
dates           0     1500        0        0     1300     1200      800        0        0     4800      18185
banana          0      100        0        0      100        0        0        0        0      200      18385
Blackberry      0        0        0        0      220        0        0        0      880     1100      19485
jelly           0        0        0        0        0        0      100        0        0      100      19585
jackfruit       0        0        0        0        0        0     2000        0     2400     4400      23985
WaterMelon      0        0        0        0        0        0        0        0     5700     5700      29685

Col_Total     360     2820     1570      900     2175     6590     3260      780    11230    29685

In [12]:
main.main_tr_db()

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120001 27/02/2021  1210       Rajesh    apple       60          3      180     180
120001 27/02/2021  1210       Rajesh    grapes      45          4      180     360
120002 27/02/2021  1211       Rakesh    pears       30          6      180     540
120002 27/02/2021  1211       Rakesh    mango       50          8      400     940
120002 27/02/2021  1211       Rakesh    orange      40          6      240    1180
120003 27/02/2021  1212       Sahil     pears       30          2       60    1240
120003 27/02/2021  1212       Sahil     apple       60          3      180    1420
120003 27/02/2021  1212       Sahil     orange      40          4      160    1580
120003 27/02/2021  1212       Sahil     cherry      90          5      450    2030
120003 27/02/2021  1212       Sahil     mango       50          6      300    2330
120003 27/02/2021  1212       Sahil     apple       60          7      420    2750
120004 28/02/2021  1213       Jack      orange      40          9      360    3110
120004 28/02/2021  1213       Jack      pears       30          8      240    3350
120004 28/02/2021  1213       Jack      pineapple   60          5      300    3650
120005 28/02/2021  1214       Steve     grapes      45          3      135    3785
120005 28/02/2021  1214       Steve     apple       60          7      420    4205
120006 02/03/2021  1215       Rohan     mango       50         12      600    4805
120006 02/03/2021  1215       Rohan     orange      40         13      520    5325
120006 02/03/2021  1215       Rohan     guava       40          8      320    5645
120006 02/03/2021  1215       Rohan     Strawberry 150         10     1500    7145
120006 02/03/2021  1215       Rohan     cherry      90          7      630    7775
120007 03/03/2021  1211       Rakesh    dates      100         15     1500    9275
120007 03/03/2021  1211       Rakesh    banana      10         10      100    9375
120007 03/03/2021  1211       Rakesh    orange      40         10      400    9775
120008 04/03/2021  1214       Steve     dates      100         13     1300   11075
120008 04/03/2021  1214       Steve     banana      10         10      100   11175
120008 04/03/2021  1214       Steve     Blackberry 110          2      220   11395
120009 05/03/2021  1215       Rohan     dates      100         12     1200   12595
120009 05/03/2021  1215       Rohan     apple       60         10      600   13195
120009 05/03/2021  1215       Rohan     mango       50         10      500   13695
120009 05/03/2021  1215       Rohan     cherry      90          8      720   14415
120010 05/03/2021  1216       Millan    apple       60          6      360   14775
120010 05/03/2021  1216       Millan    dates      100          8      800   15575
120010 05/03/2021  1216       Millan    jelly       20          5      100   15675
120010 05/03/2021  1216       Millan    jackfruit   40         50     2000   17675
120011 05/03/2021  1217       mikul     mango       50          6      300   17975
120011 05/03/2021  1217       mikul     apple       60          8      480   18455
120012 06/03/2021  1218       smile     Blackberry 110          8      880   19335
120012 06/03/2021  1218       smile     Strawberry 150          6      900   20235
120012 06/03/2021  1218       smile     jackfruit   40         60     2400   22635
120012 06/03/2021  1218       smile     mango       50         15      750   23385
120012 06/03/2021  1218       smile     apple       60         10      600   23985
120012 06/03/2021  1218       smile     WaterMelon  60         95     5700   29685

Total ::                                                             29685

In [23]:

item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
s_amount = 0
x = 0
prn2 = 0
print("{:<10}  {:<10} {:<8}  {:>5}".format('Date','Item','Cu_name','Amount'))
print()
for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        tr_cu_id = tr[i][0][0]
        bill = tr[i][0][1]
        date = tr[i][0][2]


        for k in range(len(cu)):
            if tr_cu_id == cu[k][0]:
                tr_cu_name = cu[k][1]
        for l in range(len(item_detail)):
            if item == item_detail[l][1]:
                item_code = item_detail[l][0]
                item_rate = item_detail[l][2]
        amount = item_rate * quantity
        

        if date == '27/02/2021':
            c_sum = c_sum + amount
            print("{:<10}  {:<10} {:<8} {:>5}".format(date,item,cu_name_id(tr_cu_id),amount))
print()
print("Total::                     {:>8}".format(c_sum))

Date        Item       Cu_name   Amount

27/02/2021  apple      Rajesh     180
27/02/2021  grapes     Rajesh     180
27/02/2021  pears      Rakesh     180
27/02/2021  mango      Rakesh     400
27/02/2021  orange     Rakesh     240
27/02/2021  pears      Sahil       60
27/02/2021  apple      Sahil      180
27/02/2021  orange     Sahil      160
27/02/2021  cherry     Sahil      450
27/02/2021  mango      Sahil      300
27/02/2021  apple      Sahil      420

Total::                         2750

In [25]:
def date_wise_summarized(c_date):
    c_date = c_date

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    s_amount = 0
    x = 0
    prn2 = 0
    print("{:<10}  {:<10} {:<8}  {:>5}".format('Date','Item','Cu_name','Amount'))
    print()
    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            

            if date == c_date:
                c_sum = c_sum + amount
                print("{:<10}  {:<10} {:<8} {:>5}".format(date,item,cu_name_id(tr_cu_id),amount))
    print()
    print("Total::                     {:>8}".format(c_sum))

In [28]:
date_wise_summarized('28/02/2021')

Date        Item       Cu_name   Amount

28/02/2021  orange     Jack       360
28/02/2021  pears      Jack       240
28/02/2021  pineapple  Jack       300
28/02/2021  grapes     Steve      135
28/02/2021  apple      Steve      420

Total::                         1455

In [27]:
main.date_wise_detail('27/02/2021')

Date          Bill    Cu_ID   Cu_Name   Item       Item_code Item_rate  Qty     Amount   a_sum

27/02/2021    120001   1210   Rajesh    apple       1001       60       3        180      180
27/02/2021    120001   1210   Rajesh    grapes      1005       45       4        180      360
27/02/2021    120002   1211   Rakesh    pears       1003       30       6        180      540
27/02/2021    120002   1211   Rakesh    mango       1004       50       8        400      940
27/02/2021    120002   1211   Rakesh    orange      1002       40       6        240     1180
27/02/2021    120003   1212   Sahil     pears       1003       30       2         60     1240
27/02/2021    120003   1212   Sahil     apple       1001       60       3        180     1420
27/02/2021    120003   1212   Sahil     orange      1002       40       4        160     1580
27/02/2021    120003   1212   Sahil     cherry      1012       90       5        450     2030
27/02/2021    120003   1212   Sahil     mango       1004       50       6        300     2330
27/02/2021    120003   1212   Sahil     apple       1001       60       7        420     2750

Total ::                                                                        2750

In [46]:
def date_wise_summarized_items(c_date):
    c_date = c_date

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    s_amount = 0
    x = 0
    prn2 = 0
    print("{:<10}  {:<10}  {:>5}".format('Date','Item','Amount'))
    print()
    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            

            if date == c_date:
                c_sum = c_sum + amount
                print("{:<10}  {:<10}  {:>5}".format(date,item,amount))
    print()
    print("Total::              {:>8}".format(c_sum))

In [47]:
date_wise_summarized_items('27/02/2021')

Date        Item        Amount

27/02/2021  apple         180
27/02/2021  grapes        180
27/02/2021  pears         180
27/02/2021  mango         400
27/02/2021  orange        240
27/02/2021  pears          60
27/02/2021  apple         180
27/02/2021  orange        160
27/02/2021  cherry        450
27/02/2021  mango         300
27/02/2021  apple         420

Total::                  2750

In [4]:
main.

0