In [10]:
import Main_Project00 as main

In [9]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8)),
     (('1218','120012','06/03/2021'),('Blackberry',8),('Strawberry',6),('jackfruit',60),('mango',15),('apple',10),('WaterMelon',95))]



cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40),('1015','WaterMelon',58)]





tr_cu_un = []

tr_item_un = []

tr_un_bill = []

tr_un_date = []

In [41]:
c_date = '27/02/2021'
item = ''
quantity = 0
tr_cu_id = ''
bill = ''
date = ''
tr_cu_name = ''
item_code = ''
item_rate = 0
amount = 0
c_sum = 0
s_amount = 0
c = ''
prn2 = 0
c_name = ''

print("{:<10}   {:<8}    {:>5}".format('Date','Cu_name','Amount'))
print()

    
for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        tr_cu_id = tr[i][0][0]
        bill = tr[i][0][1]
        date = tr[i][0][2]


        for k in range(len(cu)):
            if tr_cu_id == cu[k][0]:
                tr_cu_name = cu[k][1]
        for l in range(len(item_detail)):
            if item == item_detail[l][1]:
                item_code = item_detail[l][0]
                item_rate = item_detail[l][2]
        amount = item_rate * quantity
        
        if date == '27/02/2021':
            c_date = date
            if tr_cu_id == '1210':
                c_name = tr_cu_id
                c_sum = c_sum + amount
print(c_date,c_name,c_sum)
print(c_sum)
print(c)

Date         Cu_name     Amount

27/02/2021 1210 360
360

In [ ]:
# desired output

# 27/02/2021    rajesh  360
# 27/02/2021    rakesh  820
# 27/02/2021    sahil   1570

In [14]:
main.cust_wise_detail('1212')

Cu_Name    Cu_ID    Date        Bill       Item       Item_code   Item_rate    Quantity     Amount   a_sum

Sahil      1212    27/02/2021  120003     pears        1003          30            2           60       60
Sahil      1212    27/02/2021  120003     apple        1001          60            3          180      240
Sahil      1212    27/02/2021  120003     orange       1002          40            4          160      400
Sahil      1212    27/02/2021  120003     cherry       1012          90            5          450      850
Sahil      1212    27/02/2021  120003     mango        1004          50            6          300     1150
Sahil      1212    27/02/2021  120003     apple        1001          60            7          420     1570

Total ::                                                                                     1570