In [1]:
tr = [(('1210','120001','27/02/2021'),('apple',3),('grapes',4)),
      (('1211','120002','27/02/2021'),('pears',6),('mango',8),('orange',6)),
      (('1212','120003','27/02/2021'),('pears',2),('apple',3),('orange',4),('cherry',5),('mango',6),('apple',7)),
      (('1213','120004','28/02/2021'),('orange',9),('pears',8),('pineapple',5)),
      (('1214','120005','28/02/2021'),('grapes',3),('apple',7)),
      (('1215','120006','02/03/2021'),('mango',12),('orange',13),('guava',8),('Strawberry',10),('cherry',7)),
      (('1211','120007','03/03/2021'),('dates',15),('banana',10),('orange',10)),
      (('1214','120008','04/03/2021'),('dates',13),('banana',10),('Blackberry',2)),
      (('1215','120009','05/03/2021'),('dates',12),('apple',10),('mango',10),('cherry',8)),
      (('1216','120010','05/03/2021'),('apple',6),('dates',8),('jelly',5),('jackfruit',50)),
     (('1217','120011','05/03/2021'),('mango',6),('apple',8)),
     (('1218','120012','06/03/2021'),('Blackberry',8),('Strawberry',6),('jackfruit',60),('mango',15),('apple',10),('WaterMelon',95))]



cu = [('1210','Rajesh'),('1211','Rakesh'),('1212','Sahil'),
      ('1213','Jack'),('1214','Steve'),('1215','Rohan',),
      ('1216','Millan',),('1217','mikul'),('1218','smile')]


item_detail = [('1001','apple',60),('1002','orange',40),('1003','pears',30),
               ('1004','mango',50),('1005','grapes',45),('1006','guava',40),
             ('1007','pineapple',60),('1008','dates',100),('1009','banana',10),
               ('1010','Strawberry',150),('1011','Blackberry',110),
             ('1012','cherry',90),('1013','jelly',20),('1014','jackfruit',40),('1015','WaterMelon',58)]





tr_cu_un = []

tr_item_un = []

tr_un_bill = []

tr_un_date = []

def cu_name_id(c_id):
    c_id = c_id
    for i in range(len(cu)):
        cu_id = cu[i][0]
        cu_name = cu[i][1]
        if cu_id == c_id:
            return cu_name
        elif cu_name == c_id:
            return cu_id 

def item_name_code(i_code):
    i_code = i_code
    for i in range(len(item_detail)):
        tr_i_code = item_detail[i][0]
        tr_i_name = item_detail[i][1]
        if tr_i_code == i_code:
            return tr_i_name
        elif tr_i_name == i_code:
            return tr_i_code


for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        cu_un_id = tr[i][0][0]
        item_un_name = tr[i][j][0]
        tr_bill = tr[i][0][1]
        tr_date = tr[i][0][2]

        if cu_un_id not in tr_cu_un:
            tr_cu_un.append(cu_un_id)
            

        if item_un_name not in tr_item_un:
            tr_item_un.append(item_un_name)


        if tr_date not in tr_un_date:
            tr_un_date.append(tr_date)
        
    tr_un_bill.append(tr_bill)

def main_tr_db():

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            a_sum = a_sum + amount
            x = x+1




            
            print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,quantity,amount,a_sum))
    print()
    print("Total ::                                                             {:>5}".format(a_sum))

#******************************************************************************************************************************************************

In [2]:


def item_cust(i_name,c_name):
    i_name = i_name
    c_name = c_name

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    s_amount = 0
    x = 0
    prn2 = 0
    

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if item == i_name:
                if tr_cu_name == c_name:
                    s_amount = s_amount + amount   
                    prn2 = s_amount
    return prn2

In [3]:
item_cust('apple','Sahil')

600

In [4]:
#Note That
# Last date of billing of a customer.
# for how many days the customer haven't vist the store.

In [5]:
item_cust('dates','Millan')

800

In [6]:
item_name_code('mango')

'1004'

In [7]:
tr_cu_un

['1210', '1211', '1212', '1213', '1214', '1215', '1216', '1217', '1218']

In [8]:
tr_item_un

['apple',
 'grapes',
 'pears',
 'mango',
 'orange',
 'cherry',
 'pineapple',
 'guava',
 'Strawberry',
 'dates',
 'banana',
 'Blackberry',
 'jelly',
 'jackfruit',
 'WaterMelon']

In [9]:


for i in range(len(tr_cu_un)):
    n = cu_name_id(tr_cu_un[i])
    # print(n,end = '  ')
    it = item_cust('apple',n)
    print(it,end = '  ')

180  0  600  0  420  600  360  480  600

In [10]:

for i in range(len(tr_cu_un)):          #This loop prints only headings of customers.
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7}".format(cm_name),end = '  ')
print()
print()

for i in range(len(tr_cu_un)):
    n = cu_name_id(tr_cu_un[i])
    # print(n,end = '  ')
    it = item_cust('apple',n)
    print(" {:>4}".format(it),end = '   ')
print()



for i in range(len(tr_cu_un)):
    n = cu_name_id(tr_cu_un[i])
    # print(n,end = '  ')
    it = item_cust('grapes',n)
    print(" {:>4}".format(it),end = '   ')
print()


for i in range(len(tr_cu_un)):
    n = cu_name_id(tr_cu_un[i])
    # print(n,end = '  ')
    it = item_cust('pears',n)
    print(" {:>4}".format(it),end = '   ')
print()


for i in range(len(tr_cu_un)):
    n = cu_name_id(tr_cu_un[i])
    # print(n,end = '  ')
    it = item_cust('mango',n)
    print(" {:>4}".format(it),end = '   ')
print()



for i in range(len(tr_cu_un)):
    n = cu_name_id(tr_cu_un[i])
    # print(n,end = '  ')
    it = item_cust('orange',n)
    print(" {:>4}".format(it),end = '   ')
print()



for i in range(len(tr_cu_un)):
    n = cu_name_id(tr_cu_un[i])
    # print(n,end = '  ')
    it = item_cust('cherry',n)
    print(" {:>4}".format(it),end = '   ')
print()

Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile

  180       0     600       0     420     600     360     480     600
  180       0       0       0     135       0       0       0       0
    0     180      60     240       0       0       0       0       0
    0     400     300       0       0    1100       0     300     750
    0     640     160     360       0     520       0       0       0
    0       0     450       0       0    1350       0       0       0

In [11]:
for i in range(len(tr_cu_un)):
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7} ".format(cm_name),end = ' ')
print()
print()

for j in range(len(tr_item_un)):
    m = tr_item_un[j]
    for i in range(len(tr_cu_un)):
        n = cu_name_id(tr_cu_un[i])
        it = item_cust(m,n)
        print("{:>5} ".format(it),end = '   ')
    print()

Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile

  180        0      600        0      420      600      360      480      600
  180        0        0        0      135        0        0        0        0
    0      180       60      240        0        0        0        0        0
    0      400      300        0        0     1100        0      300      750
    0      640      160      360        0      520        0        0        0
    0        0      450        0        0     1350        0        0        0
    0        0        0      300        0        0        0        0        0
    0        0        0        0        0      320        0        0        0
    0        0        0        0        0     1500        0        0      900
    0     1500        0        0     1300     1200      800        0        0
    0      100        0        0      100        0        0        0        0
    0        0        0        0      220        0        0        0      880
    0        0        0        0        0        0      100        0        0
    0        0        0        0        0        0     2000        0     2400
    0        0        0        0        0        0        0        0     5510

In [12]:
x = 0
a = 0
for i in range(len(tr_cu_un)):
    m = cu_name_id(tr_cu_un[i])
    a = item_cust('apple',m)
    print(a+a)

360
0
1200
0
840
1200
720
960
1200

In [13]:
item_cust('apple','Sahil')+100

700

In [14]:
tr_cu_un
u = cu_name_id(tr_cu_un[3])
print(u)

Jack

In [15]:
tr_item_un

['apple',
 'grapes',
 'pears',
 'mango',
 'orange',
 'cherry',
 'pineapple',
 'guava',
 'Strawberry',
 'dates',
 'banana',
 'Blackberry',
 'jelly',
 'jackfruit',
 'WaterMelon']

In [16]:
p = 0
for i in range(len(tr_item_un)):
    l = tr_item_un[i]
    #p = item_cust(l,'Sahil')
    x = item_cust(l,'Sahil')
    print("{:<10} {:>3}".format(l,x))

apple      600
grapes       0
pears       60
mango      300
orange     160
cherry     450
pineapple    0
guava        0
Strawberry   0
dates        0
banana       0
Blackberry   0
jelly        0
jackfruit    0
WaterMelon   0

In [17]:
10 + ''

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [211]:
sum1 = 0
for i in range(len(tr_cu_un)):
    n = cu_name_id(tr_cu_un[i])
    it = item_cust('apple',n)
    sum1 = sum1 + it
    print("{:>5} ".format(it),end = ' ')
print(sum1)

  180      0    600      0    420    600    360    480  2640

In [23]:


# for j in range(len(tr_cu_un)):
#     name = cu_name_id(tr_cu_un[j])

def col_sum(cst_name):
    s = 0
    cst_name = cst_name
    for i in range(len(tr_item_un)):
        k = tr_item_un[i]
        a = item_cust(k,cst_name)
        pr_h = "{:<10} {:>3}".format(k,a)
        pr_o = "{:>3}".format(a)
        s = s + a
    return s

In [24]:
col_sum('Rakesh')

2820

In [313]:
tr_cu_un
cu_name_id(tr_cu_un[1])

'Rakesh'

In [317]:

for i in range(len(tr_cu_un)):
    q = cu_name_id(tr_cu_un[i])
    pr = col_sum(q)
    print(pr,end = ' ')

360 2820 1570 900 2175 6590 3260 780

In [303]:
s = 0
for i in range(len(tr_item_un)):
    k = tr_item_un[i]
    a = item_cust(k,'Millan')
    pr_h = "{:<10} {:>3}".format(k,a)
    pr_o = "{:>3}".format(a)
    s = s + a
    print(pr_o)
print(s)

360
  0
  0
  0
  0
  0
  0
  0
  0
800
  0
  0
100
2000
3260

In [239]:
for i in range(len(tr_cu_un)):
    nm = cu_name_id(tr_cu_un)

In [25]:

for i in range(len(tr_cu_un)):
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7} ".format(cm_name),end = ' ')
print()
print()

sum_g = 0   #This is for cumulative total sum
it = 0
co_sum = 0


for j in range(len(tr_item_un)):
    sum1 = 0   #This is for each total sum
    ina = tr_item_un[j]

    for i in range(len(tr_cu_un)):
        n = cu_name_id(tr_cu_un[i])
        it = item_cust(ina,n)
        sum1 = sum1 + it
        sum_g = sum_g + it
        print("{:>5} ".format(it),end = '   ')
    print("{:>5} {:>10}".format(sum1,sum_g))




print()

for i in range(len(tr_cu_un)):
    q = cu_name_id(tr_cu_un[i])
    pr = col_sum(q)
    print("{:>5} ".format(pr),end = '   ')

Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul

  180        0      600        0      420      600      360      480     2640       2640
  180        0        0        0      135        0        0        0      315       2955
    0      180       60      240        0        0        0        0      480       3435
    0      400      300        0        0     1100        0      300     2100       5535
    0      640      160      360        0      520        0        0     1680       7215
    0        0      450        0        0     1350        0        0     1800       9015
    0        0        0      300        0        0        0        0      300       9315
    0        0        0        0        0      320        0        0      320       9635
    0        0        0        0        0     1500        0        0     1500      11135
    0     1500        0        0     1300     1200      800        0     4800      15935
    0      100        0        0      100        0        0        0      200      16135
    0        0        0        0      220        0        0        0      220      16355
    0        0        0        0        0        0      100        0      100      16455
    0        0        0        0        0        0     2000        0     2000      18455

  360     2820     1570      900     2175     6590     3260      780

In [90]:

print("{:<10}".format(' '),end = '  ')

for i in range(len(tr_cu_un)):
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7} ".format(cm_name),end = ' ')
print()
print()

sum_g = 0   #This is for cumulative total sum
it = 0
q = ''

#MAIN ENGINE.

for j in range(len(tr_item_un)):
    sum1 = 0   #This is for each total sum
    ina = tr_item_un[j]

    print("{:<10}".format(ina),end = '  ')

    for i in range(len(tr_cu_un)):
        n = cu_name_id(tr_cu_un[i])
        it = item_cust(ina,n)
        sum1 = sum1 + it
        sum_g = sum_g + it
        print("{:>5} ".format(it),end = '   ')
    print("{:>5} {:>10}".format(sum1,sum_g))


print()

#THIS PARTICULAR CODE IS FOR PRINTING COLUMN TOTAL.

print("{:<10}".format(' '),end = '  ')

for i in range(len(tr_cu_un)):
    s = 0
    for j in range(len(tr_item_un)):
        sum1 = 0   #This is for each total sum
        ina = tr_item_un[j]
        q = cu_name_id(tr_cu_un[i])
        ina = tr_item_un[j]
        a = item_cust(ina,q)     
        s = s + a
    print("{:>5} ".format(s),end = '   ')




# for i in range(len(tr_cu_un)):
#     q = cu_name_id(tr_cu_un[i])
#     pr = col_sum(q)
  #   print("{:>5} ".format(s),end = '   ')

            Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile

apple         180        0      600        0      420      600      360      480      600     3240       3240
grapes        180        0        0        0      135        0        0        0        0      315       3555
pears           0      180       60      240        0        0        0        0        0      480       4035
mango           0      400      300        0        0     1100        0      300      750     2850       6885
orange          0      640      160      360        0      520        0        0        0     1680       8565
cherry          0        0      450        0        0     1350        0        0        0     1800      10365
pineapple       0        0        0      300        0        0        0        0        0      300      10665
guava           0        0        0        0        0      320        0        0        0      320      10985
Strawberry      0        0        0        0        0     1500        0        0      900     2400      13385
dates           0     1500        0        0     1300     1200      800        0        0     4800      18185
banana          0      100        0        0      100        0        0        0        0      200      18385
Blackberry      0        0        0        0      220        0        0        0      880     1100      19485
jelly           0        0        0        0        0        0      100        0        0      100      19585
jackfruit       0        0        0        0        0        0     2000        0     2400     4400      23985
WaterMelon      0        0        0        0        0        0        0        0     5510     5510      29495

              360     2820     1570      900     2175     6590     3260      780    11040

In [25]:



print("{:<10}".format(' '),end = '  ')
for i in range(len(tr_cu_un)):
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7} ".format(cm_name),end = ' ')
print()
print()

sum_g = 0   #This is for cumulative total sum
it = 0
co_sum = 0


for j in range(len(tr_item_un)):
    sum1 = 0   #This is for each total sum
    ina = tr_item_un[j]
    print("{:<10}".format(ina),end = '  ')

    for i in range(len(tr_cu_un)):
        n = cu_name_id(tr_cu_un[i])
        it = item_cust(ina,n)
        sum1 = sum1 + it
        sum_g = sum_g + it
        print("{:>5} ".format(it),end = '   ')
    print("{:>5} {:>10}".format(sum1,sum_g))




print()
print("{:<10}".format(' '),end = '  ')
for i in range(len(tr_cu_un)):
    q = cu_name_id(tr_cu_un[i])
    pr = col_sum(q)
    print("{:>5} ".format(pr),end = '   ')

            Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile

apple         180        0      600        0      420      600      360      480      600     3240       3240
grapes        180        0        0        0      135        0        0        0        0      315       3555
pears           0      180       60      240        0        0        0        0        0      480       4035
mango           0      400      300        0        0     1100        0      300      750     2850       6885
orange          0      640      160      360        0      520        0        0        0     1680       8565
cherry          0        0      450        0        0     1350        0        0        0     1800      10365
pineapple       0        0        0      300        0        0        0        0        0      300      10665
guava           0        0        0        0        0      320        0        0        0      320      10985
Strawberry      0        0        0        0        0     1500        0        0      900     2400      13385
dates           0     1500        0        0     1300     1200      800        0        0     4800      18185
banana          0      100        0        0      100        0        0        0        0      200      18385
Blackberry      0        0        0        0      220        0        0        0      880     1100      19485
jelly           0        0        0        0        0        0      100        0        0      100      19585
jackfruit       0        0        0        0        0        0     2000        0     2400     4400      23985
WaterMelon      0        0        0        0        0        0        0        0     5510     5510      29495

              360     2820     1570      900     2175     6590     3260      780    11040

In [55]:



print("{:<10}".format('Item_Name'),end = '  ')
for i in range(len(tr_cu_un)):
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7} ".format(cm_name),end = ' ')
print("{:>5}   {:>8}".format('Sum','C_Sum'))
print()


sum_g = 0   #This is for cumulative total sum
it = 0
co_sum = 0
s_sum = 0

for j in range(len(tr_item_un)):
    sum1 = 0   #This is for each total sum
    ina = tr_item_un[j]
    print("{:<10}".format(ina),end = '  ')

    for i in range(len(tr_cu_un)):
        n = cu_name_id(tr_cu_un[i])
        it = item_cust(ina,n)
        sum1 = sum1 + it
        sum_g = sum_g + it
        print("{:>5} ".format(it),end = '   ')
    print("{:>5} {:>10}".format(sum1,sum_g))

print()

print("{:<10}".format('Col_Total'),end = '  ')
for i in range(len(tr_cu_un)):
    q = cu_name_id(tr_cu_un[i])
    pr = col_sum(q)
    s_sum = s_sum + pr
    print("{:>5} ".format(pr),end = '   ')
print(s_sum)

Item_Name   Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile      Sum      C_Sum

apple         180        0      600        0      420      600      360      480      600     3240       3240
grapes        180        0        0        0      135        0        0        0        0      315       3555
pears           0      180       60      240        0        0        0        0        0      480       4035
mango           0      400      300        0        0     1100        0      300      750     2850       6885
orange          0      640      160      360        0      520        0        0        0     1680       8565
cherry          0        0      450        0        0     1350        0        0        0     1800      10365
pineapple       0        0        0      300        0        0        0        0        0      300      10665
guava           0        0        0        0        0      320        0        0        0      320      10985
Strawberry      0        0        0        0        0     1500        0        0      900     2400      13385
dates           0     1500        0        0     1300     1200      800        0        0     4800      18185
banana          0      100        0        0      100        0        0        0        0      200      18385
Blackberry      0        0        0        0      220        0        0        0      880     1100      19485
jelly           0        0        0        0        0        0      100        0        0      100      19585
jackfruit       0        0        0        0        0        0     2000        0     2400     4400      23985
WaterMelon      0        0        0        0        0        0        0        0     5510     5510      29495

Col_Total     360     2820     1570      900     2175     6590     3260      780    11040    29495

In [127]:
col_sum('Sahil')

1570

In [50]:



print("{:<10}".format('Item_Name'),end = '  ')
for i in range(len(tr_cu_un)):
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7} ".format(cm_name),end = ' ')
print("{:>5}   {:>8}".format('Sum','C_Sum'))
print()


sum_g = 0   #This is for cumulative total sum
it = 0
co_sum = 0
s_sum = 0

for j in range(len(tr_item_un)):
    sum1 = 0   #This is for each total sum
    ina = tr_item_un[j]
    print("{:<10}".format(ina),end = '  ')

    for i in range(len(tr_cu_un)):
        n = cu_name_id(tr_cu_un[i])
        it = item_cust(ina,n)
        sum1 = sum1 + it
        sum_g = sum_g + it
        print("{:>5} ".format(it),end = '   ')
    print("{:>5} {:>10}".format(sum1,sum_g))

print()

print("{:<10}".format('Col_Total'),end = '  ')
for i in range(len(tr_cu_un)):
    q = cu_name_id(tr_cu_un[i])
    pr = col_sum(q)
    s_sum = s_sum + pr
    print("{:>5} ".format(pr),end = '   ')
print(s_sum)

Item_Name   Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile      Sum      C_Sum

apple         180        0      600        0      420      600      360      480      600     3240       3240
grapes        180        0        0        0      135        0        0        0        0      315       3555
pears           0      180       60      240        0        0        0        0        0      480       4035
mango           0      400      300        0        0     1100        0      300      750     2850       6885
orange          0      640      160      360        0      520        0        0        0     1680       8565
cherry          0        0      450        0        0     1350        0        0        0     1800      10365
pineapple       0        0        0      300        0        0        0        0        0      300      10665
guava           0        0        0        0        0      320        0        0        0      320      10985
Strawberry      0        0        0        0        0     1500        0        0      900     2400      13385
dates           0     1500        0        0     1300     1200      800        0        0     4800      18185
banana          0      100        0        0      100        0        0        0        0      200      18385
Blackberry      0        0        0        0      220        0        0        0      880     1100      19485
jelly           0        0        0        0        0        0      100        0        0      100      19585
jackfruit       0        0        0        0        0        0     2000        0     2400     4400      23985
WaterMelon      0        0        0        0        0        0        0        0     5510     5510      29495

Col_Total     360     2820     1570      900     2175     6590     3260      780    11040    29495

In [104]:

print("{:<10}".format('Item_Name'),end = '  ')
for i in range(len(tr_cu_un)):
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7} ".format(cm_name),end = ' ')
print("{:>5}   {:>8}".format('Sum','C_Sum'))
print()


sum_g = 0   #This is for cumulative total sum
it = 0
q = ''
#s_sum = 0
#MAIN ENGINE.
for j in range(len(tr_item_un)):
    sum1 = 0   #This is for each total sum
    ina = tr_item_un[j]

    print("{:<10}".format(ina),end = '  ')

    for i in range(len(tr_cu_un)):
        n = cu_name_id(tr_cu_un[i])
        it = item_cust(ina,n)
        sum1 = sum1 + it
        sum_g = sum_g + it
        print("{:>5} ".format(it),end = '   ')
    print("{:>5} {:>10}".format(sum1,sum_g))


print()


#THIS PARTICULAR CODE IS FOR PRINTING COLUMN TOTAL.

print("{:<10}".format('Col_Total'),end = '  ')
s_sum = 0
for i in range(len(tr_cu_un)):
    s = 0
    for j in range(len(tr_item_un)):
        sum1 = 0   #This is for each total sum
        ina = tr_item_un[j]
        q = cu_name_id(tr_cu_un[i])
        ina = tr_item_un[j]
        a = item_cust(ina,q)     
        s = s + a
    s_sum = s_sum + s
    print("{:>5} ".format(s),end = '   ')
print(s_sum)



# for i in range(len(tr_cu_un)):
#     q = cu_name_id(tr_cu_un[i])
#     pr = col_sum(q)
  #   print("{:>5} ".format(s),end = '   ')

Item_Name   Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile      Sum      C_Sum

apple         180        0      600        0      420      600      360      480      600     3240       3240
grapes        180        0        0        0      135        0        0        0        0      315       3555
pears           0      180       60      240        0        0        0        0        0      480       4035
mango           0      400      300        0        0     1100        0      300      750     2850       6885
orange          0      640      160      360        0      520        0        0        0     1680       8565
cherry          0        0      450        0        0     1350        0        0        0     1800      10365
pineapple       0        0        0      300        0        0        0        0        0      300      10665
guava           0        0        0        0        0      320        0        0        0      320      10985
Strawberry      0        0        0        0        0     1500        0        0      900     2400      13385
dates           0     1500        0        0     1300     1200      800        0        0     4800      18185
banana          0      100        0        0      100        0        0        0        0      200      18385
Blackberry      0        0        0        0      220        0        0        0      880     1100      19485
jelly           0        0        0        0        0        0      100        0        0      100      19585
jackfruit       0        0        0        0        0        0     2000        0     2400     4400      23985
WaterMelon      0        0        0        0        0        0        0        0     5510     5510      29495

Col_Total     360     2820     1570      900     2175     6590     3260      780    11040    29495

In [94]:
print("{:<10}".format('Item_Name'),end = '  ')
for i in range(len(tr_cu_un)):
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7} ".format(cm_name),end = ' ')
print("{:>8} {:>8}".format('Sum','C_Sum'))

Item_Name   Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile         Sum    C_Sum

In [59]:
print('apple',end = ' ')
print('180')

apple 180

In [47]:
def col_sum(cst_name):
    s = 0
    cst_name = cst_name
    for i in range(len(tr_item_un)):
        k = tr_item_un[i]
        a = item_cust(k,cst_name)
        pr_h = "{:<10} {:>3}".format(k,a)
        pr_o = "{:>3}".format(a)
        s = s + a
        #print(pr_o)
    return s

In [48]:
col_sum('Sahil')

1570

In [242]:
sum_g = 0   #This is for cumulative total sum
it = 0
for j in range(len(tr_item_un)):
    sum1 = 0   #This is for each total sum
    m = tr_item_un[j]
    for i in range(len(tr_cu_un)):
        n = cu_name_id(tr_cu_un[i])
        it = item_cust(m,n)
        sum1 = sum1 + it
        sum_g = sum_g + it
        print("{:>5} ".format(it),end = '   ')
    print("{:>5} {:>10}".format(sum1,sum_g))

  180        0      600        0      420      600      360      480     2640       2640
  180        0        0        0      135        0        0        0      315       2955
    0      180       60      240        0        0        0        0      480       3435
    0      400      300        0        0     1100        0      300     2100       5535
    0      640      160      360        0      520        0        0     1680       7215
    0        0      450        0        0     1350        0        0     1800       9015
    0        0        0      300        0        0        0        0      300       9315
    0        0        0        0        0      320        0        0      320       9635
    0        0        0        0        0     1500        0        0     1500      11135
    0     1500        0        0     1300     1200      800        0     4800      15935
    0      100        0        0      100        0        0        0      200      16135
    0        0        0        0      220        0        0        0      220      16355
    0        0        0        0        0        0      100        0      100      16455
    0        0        0        0        0        0     2000        0     2000      18455

In [56]:
for i in range(len(tr_cu_un)):
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7} ".format(cm_name),end = ' ')
print()
print()

for j in range(len(tr_item_un)):
    m = tr_item_un[j]
    for i in range(len(tr_cu_un)):
        n = cu_name_id(tr_cu_un[i])
        it = item_cust(m,n)
        print("{:>5} ".format(it),end = '   ')
    print()

Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul

  180               600               420      600      360      480
  180                                 135
           180       60      240
           400      300                       1100               300
           640      160      360               520
                    450                       1350
                             300
                                               320
                                              1500
          1500                       1300     1200      800
           100                        100
                                      220
                                                        100
                                                       2000

In [23]:
c = 'Rohan'
for i in range(len(tr_item_un)):
    a = item_cust(tr_item_un[i],c)
    print("{:<10}  {:>4}".format(tr_item_un[i],a))

apple        600
grapes         0
pears          0
mango       1100
orange       520
cherry      1350
pineapple      0
guava        320
Strawberry  1500
dates       1200
banana         0
Blackberry     0
jelly          0
jackfruit      0
WaterMelon     0

In [7]:
main_tr_db()

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120001 27/02/2021  1210       Rajesh    apple       60          3      180     180
120001 27/02/2021  1210       Rajesh    grapes      45          4      180     360
120002 27/02/2021  1211       Rakesh    pears       30          6      180     540
120002 27/02/2021  1211       Rakesh    mango       50          8      400     940
120002 27/02/2021  1211       Rakesh    orange      40          6      240    1180
120003 27/02/2021  1212       Sahil     pears       30          2       60    1240
120003 27/02/2021  1212       Sahil     apple       60          3      180    1420
120003 27/02/2021  1212       Sahil     orange      40          4      160    1580
120003 27/02/2021  1212       Sahil     cherry      90          5      450    2030
120003 27/02/2021  1212       Sahil     mango       50          6      300    2330
120003 27/02/2021  1212       Sahil     apple       60          7      420    2750
120004 28/02/2021  1213       Jack      orange      40          9      360    3110
120004 28/02/2021  1213       Jack      pears       30          8      240    3350
120004 28/02/2021  1213       Jack      pineapple   60          5      300    3650
120005 28/02/2021  1214       Steve     grapes      45          3      135    3785
120005 28/02/2021  1214       Steve     apple       60          7      420    4205
120006 02/03/2021  1215       Rohan     mango       50         12      600    4805
120006 02/03/2021  1215       Rohan     orange      40         13      520    5325
120006 02/03/2021  1215       Rohan     guava       40          8      320    5645
120006 02/03/2021  1215       Rohan     Strawberry 150         10     1500    7145
120006 02/03/2021  1215       Rohan     cherry      90          7      630    7775
120007 03/03/2021  1211       Rakesh    dates      100         15     1500    9275
120007 03/03/2021  1211       Rakesh    banana      10         10      100    9375
120007 03/03/2021  1211       Rakesh    orange      40         10      400    9775
120008 04/03/2021  1214       Steve     dates      100         13     1300   11075
120008 04/03/2021  1214       Steve     banana      10         10      100   11175
120008 04/03/2021  1214       Steve     Blackberry 110          2      220   11395
120009 05/03/2021  1215       Rohan     dates      100         12     1200   12595
120009 05/03/2021  1215       Rohan     apple       60         10      600   13195
120009 05/03/2021  1215       Rohan     mango       50         10      500   13695
120009 05/03/2021  1215       Rohan     cherry      90          8      720   14415
120010 05/03/2021  1216       Millan    apple       60          6      360   14775
120010 05/03/2021  1216       Millan    dates      100          8      800   15575
120010 05/03/2021  1216       Millan    jelly       20          5      100   15675
120010 05/03/2021  1216       Millan    jackfruit   40         50     2000   17675
120011 05/03/2021  1217       mikul     mango       50          6      300   17975
120011 05/03/2021  1217       mikul     apple       60          8      480   18455

Total ::                                                             18455

In [10]:
it_name = 'cherry'
for i in range(len(tr_cu_un)):
    i_name = tr_cu_un[i]
    z = cu_name_id(i_name)
    item_cust(it_name,z)

    450      1350

In [106]:

#print("{:<10}".format('Item_Name'),end = '  ')
for i in range(len(tr_cu_un)):
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7} ".format(cm_name),end = ' ')
#print("{:>5}   {:>8}".format('Sum','C_Sum'))
print()
print()

sum_g = 0   #This is for cumulative total sum
it = 0
q = ''
#s_sum = 0
#MAIN ENGINE.
for j in range(len(tr_item_un)):
    sum1 = 0   #This is for each total sum
    ina = tr_item_un[j]

    print("{:<10}".format(ina),end = '  ')

    for i in range(len(tr_cu_un)):
        n = cu_name_id(tr_cu_un[i])
        it = item_cust(ina,n)
        sum1 = sum1 + it
        sum_g = sum_g + it
        print("{:>5} ".format(it),end = '   ')
    print("{:>5} {:>10}".format(sum1,sum_g))


print()


#THIS PARTICULAR CODE IS FOR PRINTING COLUMN TOTAL.

print("{:<10}".format('Col_Total'),end = '  ')
s_sum = 0
for i in range(len(tr_cu_un)):
    s = 0
    for j in range(len(tr_item_un)):
        sum1 = 0   #This is for each total sum
        ina = tr_item_un[j]
        q = cu_name_id(tr_cu_un[i])
        ina = tr_item_un[j]
        a = item_cust(ina,q)     
        s = s + a
    s_sum = s_sum + s
    print("{:>5} ".format(s),end = '   ')
print(s_sum)

Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile

apple         180        0      600        0      420      600      360      480      600     3240       3240
grapes        180        0        0        0      135        0        0        0        0      315       3555
pears           0      180       60      240        0        0        0        0        0      480       4035
mango           0      400      300        0        0     1100        0      300      750     2850       6885
orange          0      640      160      360        0      520        0        0        0     1680       8565
cherry          0        0      450        0        0     1350        0        0        0     1800      10365
pineapple       0        0        0      300        0        0        0        0        0      300      10665
guava           0        0        0        0        0      320        0        0        0      320      10985
Strawberry      0        0        0        0        0     1500        0        0      900     2400      13385
dates           0     1500        0        0     1300     1200      800        0        0     4800      18185
banana          0      100        0        0      100        0        0        0        0      200      18385
Blackberry      0        0        0        0      220        0        0        0      880     1100      19485
jelly           0        0        0        0        0        0      100        0        0      100      19585
jackfruit       0        0        0        0        0        0     2000        0     2400     4400      23985
WaterMelon      0        0        0        0        0        0        0        0     5510     5510      29495

Col_Total     360     2820     1570      900     2175     6590     3260      780    11040    29495

In [120]:
lst = ['name','address','class']
#print('ide',end = ' ')
for i in lst:
    print(i,end =' ')

name address class

In [18]:
print("{:<10}".format('Item_Name'),end = '  ')
for i in range(len(tr_cu_un)):
    cm_name = cu_name_id(tr_cu_un[i])
    print("{:<7} ".format(cm_name),end = ' ')
print("{:>5}   {:>8}".format('Sum','C_Sum'))
print()
print()

Item_Name   Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile      Sum      C_Sum

In [20]:

def item_cust_matrix():

    print("{:<10}".format('Item_Name'),end = '  ')
    for i in range(len(tr_cu_un)):
        cm_name = cu_name_id(tr_cu_un[i])
        print("{:<7} ".format(cm_name),end = ' ')
    print("{:>5}   {:>8}".format('Sum','C_Sum'))
    print()


    sum_g = 0   #This is for cumulative total sum
    it = 0
    co_sum = 0
    s_sum = 0

    for j in range(len(tr_item_un)):
        sum1 = 0   #This is for each total sum
        ina = tr_item_un[j]
        print("{:<10}".format(ina),end = '  ')

        for i in range(len(tr_cu_un)):
            n = cu_name_id(tr_cu_un[i])
            it = item_cust(ina,n)
            sum1 = sum1 + it
            sum_g = sum_g + it
            print("{:>5} ".format(it),end = '   ')
        print("{:>5} {:>10}".format(sum1,sum_g))

    print()

    print("{:<10}".format('Col_Total'),end = '  ')
    for i in range(len(tr_cu_un)):
        q = cu_name_id(tr_cu_un[i])
        pr = col_sum(q)
        s_sum = s_sum + pr
        print("{:>5} ".format(pr),end = '   ')
    print(s_sum)

In [22]:
item_cust_matrix()

Item_Name   Rajesh   Rakesh   Sahil    Jack     Steve    Rohan    Millan   mikul    smile      Sum      C_Sum

apple         180        0      600        0      420      600      360      480      600     3240       3240
grapes        180        0        0        0      135        0        0        0        0      315       3555
pears           0      180       60      240        0        0        0        0        0      480       4035
mango           0      400      300        0        0     1100        0      300      750     2850       6885
orange          0      640      160      360        0      520        0        0        0     1680       8565
cherry          0        0      450        0        0     1350        0        0        0     1800      10365
pineapple       0        0        0      300        0        0        0        0        0      300      10665
guava           0        0        0        0        0      320        0        0        0      320      10985
Strawberry      0        0        0        0        0     1500        0        0      900     2400      13385
dates           0     1500        0        0     1300     1200      800        0        0     4800      18185
banana          0      100        0        0      100        0        0        0        0      200      18385
Blackberry      0        0        0        0      220        0        0        0      880     1100      19485
jelly           0        0        0        0        0        0      100        0        0      100      19585
jackfruit       0        0        0        0        0        0     2000        0     2400     4400      23985
WaterMelon      0        0        0        0        0        0        0        0     5510     5510      29495

Col_Total

NameError: name 'col_sum' is not defined

In [29]:


def item_cust_detail(i_name,c_name):
    i_name = i_name
    c_name = c_name

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    c_sum = 0
    s_amount = 0
    x = 0
    prn2 = 0
    q_sum = 0
    x = 0

    print("{:>3}     {:<10} {:<8}  {:<6}   {:<5}   {:<5}   {:<8}  {:>3}  {:>3}  {:>6} {:>6}".format('Sn','date','bill','item','item_code','cu_id',\
                'cu_name','item_rate','qty','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity

            if item == i_name:
                if tr_cu_name == c_name:
                    s_amount = s_amount + amount   
                    q_sum = q_sum + quantity
                    x = x+1
                    #prn2 = s_amount
                    print("{:>3}  {:<10}   {:<8}  {:<10} {:<5}      {:<5}   {:<8}    {:>3}    {:>3} {:>6}   {:>6}".format(x,date,bill,item,\
                    item_code,tr_cu_id,tr_cu_name,item_rate,quantity,amount,s_amount))
    print()
    print("Total ::                                                                    {:>4} {:>6}".format(q_sum,s_amount))
    #return prn2

In [167]:
item_cust_detail('apple','Sahil')

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120003    apple      1001       1212    Sahil        60      3    180      180
  2  27/02/2021   120003    apple      1001       1212    Sahil        60      7    420      600

Total ::                                                                      10    600

In [190]:
c = 'Millan'


for i in range(len(tr_item_un)):
    s = tr_item_un[i]
    m = item_cust(s,c)
    if m != 0:
        print('='*100)
        print()
        print("{:<10} {:<10} {:>5}".format(c,s,m))
        print()
        print('='*100)
        print()
        y = item_cust_detail(s,c)
        print()
        print('*'*100)
        print()
        print()

====================================================================================================

Millan     apple        360

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120010    apple      1001       1216    Millan       60      6    360      360

Total ::                                                                       6    360

****************************************************************************************************


====================================================================================================

Millan     dates        800

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120010    dates      1008       1216    Millan      100      8    800      800

Total ::                                                                       8    800

****************************************************************************************************


====================================================================================================

Millan     jelly        100

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120010    jelly      1013       1216    Millan       20      5    100      100

Total ::                                                                       5    100

****************************************************************************************************


====================================================================================================

Millan     jackfruit   2000

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120010    jackfruit  1014       1216    Millan       40     50   2000     2000

Total ::                                                                      50   2000

****************************************************************************************************

In [171]:
item_cust('apple','Sahil')

600

In [50]:
def cust_wise_item_detail(c_name):
    c_name = c_name

    c = c_name
    for i in range(len(tr_item_un)):
        s = tr_item_un[i]
        m = item_cust(s,c)
        if m != 0:
            print('='*100)
            print()
            print("{:<10} {:<10} {:>5}".format(c,s,m))
            print()
            print('='*100)
            print()
            y = item_cust_detail(s,c)
            print()
            print('*'*100)
            print()
            print()

In [51]:
cust_wise_item_detail('smile')

====================================================================================================

smile      apple        600

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  06/03/2021   120012    apple      1001       1218    smile        60     10    600      600

Total ::                                                                      10    600

****************************************************************************************************


====================================================================================================

smile      mango        750

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  06/03/2021   120012    mango      1004       1218    smile        50     15    750      750

Total ::                                                                      15    750

****************************************************************************************************


====================================================================================================

smile      Strawberry   900

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  06/03/2021   120012    Strawberry 1010       1218    smile       150      6    900      900

Total ::                                                                       6    900

****************************************************************************************************


====================================================================================================

smile      Blackberry   880

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  06/03/2021   120012    Blackberry 1011       1218    smile       110      8    880      880

Total ::                                                                       8    880

****************************************************************************************************


====================================================================================================

smile      jackfruit   2400

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  06/03/2021   120012    jackfruit  1014       1218    smile        40     60   2400     2400

Total ::                                                                      60   2400

****************************************************************************************************


====================================================================================================

smile      WaterMelon  5510

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  06/03/2021   120012    WaterMelon 1015       1218    smile        58     95   5510     5510

Total ::                                                                      95   5510

****************************************************************************************************

In [52]:
def item_wise_cust_detail(i_name):
    i_name = i_name

    w = i_name
    for i in range(len(tr_cu_un)):
        s = cu_name_id(tr_cu_un[i])
        m = item_cust(w,s)
        if m != 0:
            print('='*100)
            print()
            print("{:<10} {:<10} {:>5}".format(w,s,m))
            print()
            print('='*100)
            print()
            y = item_cust_detail(w,s)
            print()
            print('*'*100)
            print()
            print()

In [53]:
item_wise_cust_detail('apple')

====================================================================================================

apple      Rajesh       180

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120001    apple      1001       1210    Rajesh       60      3    180      180

Total ::                                                                       3    180

****************************************************************************************************


====================================================================================================

apple      Sahil        600

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120003    apple      1001       1212    Sahil        60      3    180      180
  2  27/02/2021   120003    apple      1001       1212    Sahil        60      7    420      600

Total ::                                                                      10    600

****************************************************************************************************


====================================================================================================

apple      Steve        420

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  28/02/2021   120005    apple      1001       1214    Steve        60      7    420      420

Total ::                                                                       7    420

****************************************************************************************************


====================================================================================================

apple      Rohan        600

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120009    apple      1001       1215    Rohan        60     10    600      600

Total ::                                                                      10    600

****************************************************************************************************


====================================================================================================

apple      Millan       360

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120010    apple      1001       1216    Millan       60      6    360      360

Total ::                                                                       6    360

****************************************************************************************************


====================================================================================================

apple      mikul        480

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120011    apple      1001       1217    mikul        60      8    480      480

Total ::                                                                       8    480

****************************************************************************************************


====================================================================================================

apple      smile        600

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  06/03/2021   120012    apple      1001       1218    smile        60     10    600      600

Total ::                                                                      10    600

****************************************************************************************************

In [31]:
def item_wise_cust_detail01(*i_name):
    # it_name = i_name
    
    for j in i_name:
        w = j
        for i in range(len(tr_cu_un)):
            s = cu_name_id(tr_cu_un[i])
            m = item_cust(w,s)
            if m != 0:
                print('='*100)
                print()
                print("{:<10} {:<10} {:>5}".format(w,s,m))
                print()
                print('='*100)
                print()
                y = item_cust_detail(w,s)
                print()
                print('*'*100)
                print()
                print()

In [36]:
item_wise_cust_detail01('apple','orange','grapes')

====================================================================================================

apple      Rajesh       180

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120001    apple      1001       1210    Rajesh       60      3    180      180

Total ::                                                                       3    180

****************************************************************************************************


====================================================================================================

apple      Sahil        600

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120003    apple      1001       1212    Sahil        60      3    180      180
  2  27/02/2021   120003    apple      1001       1212    Sahil        60      7    420      600

Total ::                                                                      10    600

****************************************************************************************************


====================================================================================================

apple      Steve        420

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  28/02/2021   120005    apple      1001       1214    Steve        60      7    420      420

Total ::                                                                       7    420

****************************************************************************************************


====================================================================================================

apple      Rohan        600

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120009    apple      1001       1215    Rohan        60     10    600      600

Total ::                                                                      10    600

****************************************************************************************************


====================================================================================================

apple      Millan       360

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120010    apple      1001       1216    Millan       60      6    360      360

Total ::                                                                       6    360

****************************************************************************************************


====================================================================================================

apple      mikul        480

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120011    apple      1001       1217    mikul        60      8    480      480

Total ::                                                                       8    480

****************************************************************************************************


====================================================================================================

apple      smile        600

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  06/03/2021   120012    apple      1001       1218    smile        60     10    600      600

Total ::                                                                      10    600

****************************************************************************************************


====================================================================================================

orange     Rakesh       640

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120002    orange     1002       1211    Rakesh       40      6    240      240
  2  03/03/2021   120007    orange     1002       1211    Rakesh       40     10    400      640

Total ::                                                                      16    640

****************************************************************************************************


====================================================================================================

orange     Sahil        160

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120003    orange     1002       1212    Sahil        40      4    160      160

Total ::                                                                       4    160

****************************************************************************************************


====================================================================================================

orange     Jack         360

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  28/02/2021   120004    orange     1002       1213    Jack         40      9    360      360

Total ::                                                                       9    360

****************************************************************************************************


====================================================================================================

orange     Rohan        520

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  02/03/2021   120006    orange     1002       1215    Rohan        40     13    520      520

Total ::                                                                      13    520

****************************************************************************************************


====================================================================================================

grapes     Rajesh       180

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120001    grapes     1005       1210    Rajesh       45      4    180      180

Total ::                                                                       4    180

****************************************************************************************************


====================================================================================================

grapes     Steve        135

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  28/02/2021   120005    grapes     1005       1214    Steve        45      3    135      135

Total ::                                                                       3    135

****************************************************************************************************

In [44]:
a = ['apple','orange']
item_wise_cust_detail01(a)

In [286]:
def sum_total(*n):
    x = 0
    for i in n:
        x = x+i
    print(x)

In [253]:
sum_total(11)

11

In [265]:
def sum_total1(*n):
    x = 0
    for i in n:
        x = x+i
    print(x)

In [266]:
sum_total1(12,20,12,45,10,32)

131

In [45]:

def item_wise_cust_detail12(i_name):
    # it_name = i_name
    
    for j in i_name:
        w = j
        for i in range(len(tr_cu_un)):
            s = cu_name_id(tr_cu_un[i])
            m = item_cust(w,s)
            if m != 0:
                print('='*100)
                print()
                print("{:<10} {:<10} {:>5}".format(w,s,m))
                print()
                print('='*100)
                print()
                y = item_cust_detail(w,s)
                print()
                print('*'*100)
                print()
                print()

In [49]:
b = ['apple']
item_wise_cust_detail12(b)

====================================================================================================

apple      Rajesh       180

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120001    apple      1001       1210    Rajesh       60      3    180      180

Total ::                                                                       3    180

****************************************************************************************************


====================================================================================================

apple      Sahil        600

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120003    apple      1001       1212    Sahil        60      3    180      180
  2  27/02/2021   120003    apple      1001       1212    Sahil        60      7    420      600

Total ::                                                                      10    600

****************************************************************************************************


====================================================================================================

apple      Steve        420

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  28/02/2021   120005    apple      1001       1214    Steve        60      7    420      420

Total ::                                                                       7    420

****************************************************************************************************


====================================================================================================

apple      Rohan        600

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120009    apple      1001       1215    Rohan        60     10    600      600

Total ::                                                                      10    600

****************************************************************************************************


====================================================================================================

apple      Millan       360

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120010    apple      1001       1216    Millan       60      6    360      360

Total ::                                                                       6    360

****************************************************************************************************


====================================================================================================

apple      mikul        480

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120011    apple      1001       1217    mikul        60      8    480      480

Total ::                                                                       8    480

****************************************************************************************************


====================================================================================================

apple      smile        600

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  06/03/2021   120012    apple      1001       1218    smile        60     10    600      600

Total ::                                                                      10    600

****************************************************************************************************

In [46]:
a = ['mango','pears']
item_wise_cust_detail12(a)

====================================================================================================

mango      Rakesh       400

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120002    mango      1004       1211    Rakesh       50      8    400      400

Total ::                                                                       8    400

****************************************************************************************************


====================================================================================================

mango      Sahil        300

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120003    mango      1004       1212    Sahil        50      6    300      300

Total ::                                                                       6    300

****************************************************************************************************


====================================================================================================

mango      Rohan       1100

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  02/03/2021   120006    mango      1004       1215    Rohan        50     12    600      600
  2  05/03/2021   120009    mango      1004       1215    Rohan        50     10    500     1100

Total ::                                                                      22   1100

****************************************************************************************************


====================================================================================================

mango      mikul        300

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  05/03/2021   120011    mango      1004       1217    mikul        50      6    300      300

Total ::                                                                       6    300

****************************************************************************************************


====================================================================================================

mango      smile        750

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  06/03/2021   120012    mango      1004       1218    smile        50     15    750      750

Total ::                                                                      15    750

****************************************************************************************************


====================================================================================================

pears      Rakesh       180

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120002    pears      1003       1211    Rakesh       30      6    180      180

Total ::                                                                       6    180

****************************************************************************************************


====================================================================================================

pears      Sahil         60

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  27/02/2021   120003    pears      1003       1212    Sahil        30      2     60       60

Total ::                                                                       2     60

****************************************************************************************************


====================================================================================================

pears      Jack         240

====================================================================================================

 Sn     date       bill      item     item_code   cu_id   cu_name   item_rate  qty  amount  a_sum

  1  28/02/2021   120004    pears      1003       1213    Jack         30      8    240      240

Total ::                                                                       8    240

****************************************************************************************************

In [346]:
def main_tr_db_101(i_name = None):

    i_name = i_name

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0
    f_sum = 0
    prn = 0
    prn1 = 0

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            a_sum = a_sum + amount
            x = x+1

            if i_name == None:
                print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                   quantity,amount,a_sum))
                prn = ("Total ::                                                             {:>5}".format(a_sum))

            else:
                if item == i_name:
                    f_sum = f_sum + amount

                    print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                       quantity,amount,a_sum))
                    prn1 = ("Total ::                                                             {:>5}".format(f_sum))
    
    print()
    if i_name == None:
        print(prn)
    else:
        print(prn1)

    print()
    #print("Total ::                                                             {:>5}".format(a_sum))

In [348]:
main_tr_db_101()

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120001 27/02/2021  1210       Rajesh    apple       60          3      180     180
120001 27/02/2021  1210       Rajesh    grapes      45          4      180     360
120002 27/02/2021  1211       Rakesh    pears       30          6      180     540
120002 27/02/2021  1211       Rakesh    mango       50          8      400     940
120002 27/02/2021  1211       Rakesh    orange      40          6      240    1180
120003 27/02/2021  1212       Sahil     pears       30          2       60    1240
120003 27/02/2021  1212       Sahil     apple       60          3      180    1420
120003 27/02/2021  1212       Sahil     orange      40          4      160    1580
120003 27/02/2021  1212       Sahil     cherry      90          5      450    2030
120003 27/02/2021  1212       Sahil     mango       50          6      300    2330
120003 27/02/2021  1212       Sahil     apple       60          7      420    2750
120004 28/02/2021  1213       Jack      orange      40          9      360    3110
120004 28/02/2021  1213       Jack      pears       30          8      240    3350
120004 28/02/2021  1213       Jack      pineapple   60          5      300    3650
120005 28/02/2021  1214       Steve     grapes      45          3      135    3785
120005 28/02/2021  1214       Steve     apple       60          7      420    4205
120006 02/03/2021  1215       Rohan     mango       50         12      600    4805
120006 02/03/2021  1215       Rohan     orange      40         13      520    5325
120006 02/03/2021  1215       Rohan     guava       40          8      320    5645
120006 02/03/2021  1215       Rohan     Strawberry 150         10     1500    7145
120006 02/03/2021  1215       Rohan     cherry      90          7      630    7775
120007 03/03/2021  1211       Rakesh    dates      100         15     1500    9275
120007 03/03/2021  1211       Rakesh    banana      10         10      100    9375
120007 03/03/2021  1211       Rakesh    orange      40         10      400    9775
120008 04/03/2021  1214       Steve     dates      100         13     1300   11075
120008 04/03/2021  1214       Steve     banana      10         10      100   11175
120008 04/03/2021  1214       Steve     Blackberry 110          2      220   11395
120009 05/03/2021  1215       Rohan     dates      100         12     1200   12595
120009 05/03/2021  1215       Rohan     apple       60         10      600   13195
120009 05/03/2021  1215       Rohan     mango       50         10      500   13695
120009 05/03/2021  1215       Rohan     cherry      90          8      720   14415
120010 05/03/2021  1216       Millan    apple       60          6      360   14775
120010 05/03/2021  1216       Millan    dates      100          8      800   15575
120010 05/03/2021  1216       Millan    jelly       20          5      100   15675
120010 05/03/2021  1216       Millan    jackfruit   40         50     2000   17675
120011 05/03/2021  1217       mikul     mango       50          6      300   17975
120011 05/03/2021  1217       mikul     apple       60          8      480   18455
120012 06/03/2021  1218       smile     Blackberry 110          8      880   19335
120012 06/03/2021  1218       smile     Strawberry 150          6      900   20235
120012 06/03/2021  1218       smile     jackfruit   40         60     2400   22635
120012 06/03/2021  1218       smile     mango       50         15      750   23385
120012 06/03/2021  1218       smile     apple       60         10      600   23985
120012 06/03/2021  1218       smile     WaterMelon  58         95     5510   29495

Total ::                                                             29495

In [352]:
main_tr_db_101('WaterMelon')

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120012 06/03/2021  1218       smile     WaterMelon  58         95     5510   29495

Total ::                                                              5510

In [22]:
def main_tr_db_102(i_name = None,c_name = None,c_date = None):

    i_name = i_name
    c_name = c_name
    c_date = c_date

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0
    f_sum = 0
    prn = 0
    prn1 = 0

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            a_sum = a_sum + amount
            x = x+1

            if i_name == None and c_name == None and c_date == None:
                print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                   quantity,amount,a_sum))
                prn = ("Total ::                                                             {:>5}".format(a_sum))

            else:
                # if item == i_name and tr_cu_name == c_name and date == c_date:
                #     f_sum = f_sum + amount
                if item == i_name or tr_cu_name == c_name or date == c_date:
                    f_sum = f_sum + amount

                    print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                       quantity,amount,f_sum))

                    prn1 = ("Total ::                                                             {:>5}".format(f_sum))
    
    print()
    if i_name == None and c_name == None and c_date == None:
        print(prn)
    else:
        print(prn1)

    print()
    #print("Total ::                                                             {:>5}".format(a_sum))

In [486]:
main_tr_db_102(c_date = '28/02/2021',i_name = 'apple',c_name = 'Steve')  #3240

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120005 28/02/2021  1214       Steve     apple       60          7      420     420

Total ::                                                               420

In [488]:
main_tr_db_102(c_date = '28/02/2021')

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum


0

In [489]:
ages = [5, 12, 17, 18, 24, 32]
for i in ages:
    if i >= 18:
        print(i)

18
24
32

In [56]:
def main_tr_db_or_102(i_name = None,c_name = None,c_date = None):

    i_name = i_name
    c_name = c_name
    c_date = c_date

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0
    f_sum = 0
    prn = 0
    prn1 = 0

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            a_sum = a_sum + amount
            x = x+1

            if i_name == None and c_name == None and c_date == None:
                print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                   quantity,amount,a_sum))
                prn = ("Total ::                                                             {:>5}".format(a_sum))

            else:
                
                if item == i_name or tr_cu_name == c_name or date == c_date:
                    f_sum = f_sum + amount

                    print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                       quantity,amount,f_sum))

                    prn1 = ("Total ::                                                             {:>5}".format(f_sum))
    
    print()
    if i_name == None and c_name == None and c_date == None:
        print(prn)
    else:
        print(prn1)

    print()
    #print("Total ::                                                             {:>5}".format(a_sum))

In [57]:
def main_tr_db_and_102(i_name = None,c_name = None,c_date = None):

    i_name = i_name
    c_name = c_name
    c_date = c_date

    item = ''
    quantity = 0
    tr_cu_id = ''
    bill = ''
    date = ''
    tr_cu_name = ''
    item_code = ''
    item_rate = 0
    amount = 0
    a_sum = 0
    x = 0
    f_sum = 0
    prn = 0
    prn1 = 0

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity','amount','a_sum'))
    print()

    for i in range(len(tr)):
        for j in range(1,len(tr[i])):
            item = tr[i][j][0]
            quantity = tr[i][j][1]
            tr_cu_id = tr[i][0][0]
            bill = tr[i][0][1]
            date = tr[i][0][2]


            for k in range(len(cu)):
                if tr_cu_id == cu[k][0]:
                    tr_cu_name = cu[k][1]
            for l in range(len(item_detail)):
                if item == item_detail[l][1]:
                    item_code = item_detail[l][0]
                    item_rate = item_detail[l][2]
            amount = item_rate * quantity
            a_sum = a_sum + amount
            x = x+1

            if i_name == None and c_name == None and c_date == None:
                print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                   quantity,amount,a_sum))
                prn = ("Total ::                                                             {:>5}".format(a_sum))

            else:
                if item == i_name and tr_cu_name == c_name and date == c_date:
                    f_sum = f_sum + amount
                

                    print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                       quantity,amount,f_sum))

                    prn1 = ("Total ::                                                             {:>5}".format(f_sum))
    
    print()
    if i_name == None and c_name == None and c_date == None:
        print(prn)
    else:
        print(prn1)

    print()
    #print("Total ::                                                             {:>5}".format(a_sum))

In [59]:
main_tr_db_and_102(i_name = 'apple',c_name = 'Sahil',c_date = '27/02/2021')

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120003 27/02/2021  1212       Sahil     apple       60          3      180     180
120003 27/02/2021  1212       Sahil     apple       60          7      420     600

Total ::                                                               600

In [60]:
main_tr_db_or_102(i_name = 'apple')

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120001 27/02/2021  1210       Rajesh    apple       60          3      180     180
120003 27/02/2021  1212       Sahil     apple       60          3      180     360
120003 27/02/2021  1212       Sahil     apple       60          7      420     780
120005 28/02/2021  1214       Steve     apple       60          7      420    1200
120009 05/03/2021  1215       Rohan     apple       60         10      600    1800
120010 05/03/2021  1216       Millan    apple       60          6      360    2160
120011 05/03/2021  1217       mikul     apple       60          8      480    2640
120012 06/03/2021  1218       smile     apple       60         10      600    3240

Total ::                                                              3240

In [61]:
main_tr_db_or_102(c_name = 'Millan')

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120010 05/03/2021  1216       Millan    apple       60          6      360     360
120010 05/03/2021  1216       Millan    dates      100          8      800    1160
120010 05/03/2021  1216       Millan    jelly       20          5      100    1260
120010 05/03/2021  1216       Millan    jackfruit   40         50     2000    3260

Total ::                                                              3260

In [62]:
main_tr_db_or_102(c_date = '28/02/2021')

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120004 28/02/2021  1213       Jack      orange      40          9      360     360
120004 28/02/2021  1213       Jack      pears       30          8      240     600
120004 28/02/2021  1213       Jack      pineapple   60          5      300     900
120005 28/02/2021  1214       Steve     grapes      45          3      135    1035
120005 28/02/2021  1214       Steve     apple       60          7      420    1455

Total ::                                                              1455

In [63]:
main_tr_db_or_102(i_name = 'apple',c_name = 'Sahil')

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120001 27/02/2021  1210       Rajesh    apple       60          3      180     180
120003 27/02/2021  1212       Sahil     pears       30          2       60     240
120003 27/02/2021  1212       Sahil     apple       60          3      180     420
120003 27/02/2021  1212       Sahil     orange      40          4      160     580
120003 27/02/2021  1212       Sahil     cherry      90          5      450    1030
120003 27/02/2021  1212       Sahil     mango       50          6      300    1330
120003 27/02/2021  1212       Sahil     apple       60          7      420    1750
120005 28/02/2021  1214       Steve     apple       60          7      420    2170
120009 05/03/2021  1215       Rohan     apple       60         10      600    2770
120010 05/03/2021  1216       Millan    apple       60          6      360    3130
120011 05/03/2021  1217       mikul     apple       60          8      480    3610
120012 06/03/2021  1218       smile     apple       60         10      600    4210

Total ::                                                              4210

In [64]:
main_tr_db_or_102(c_name = 'Sahil',i_name = 'pears')

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120002 27/02/2021  1211       Rakesh    pears       30          6      180     180
120003 27/02/2021  1212       Sahil     pears       30          2       60     240
120003 27/02/2021  1212       Sahil     apple       60          3      180     420
120003 27/02/2021  1212       Sahil     orange      40          4      160     580
120003 27/02/2021  1212       Sahil     cherry      90          5      450    1030
120003 27/02/2021  1212       Sahil     mango       50          6      300    1330
120003 27/02/2021  1212       Sahil     apple       60          7      420    1750
120004 28/02/2021  1213       Jack      pears       30          8      240    1990

Total ::                                                              1990

In [65]:
main_tr_db_or_102(c_date = '03/03/2021',i_name = 'mango',c_name = 'Jack')

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120002 27/02/2021  1211       Rakesh    mango       50          8      400     400
120003 27/02/2021  1212       Sahil     mango       50          6      300     700
120004 28/02/2021  1213       Jack      orange      40          9      360    1060
120004 28/02/2021  1213       Jack      pears       30          8      240    1300
120004 28/02/2021  1213       Jack      pineapple   60          5      300    1600
120006 02/03/2021  1215       Rohan     mango       50         12      600    2200
120007 03/03/2021  1211       Rakesh    dates      100         15     1500    3700
120007 03/03/2021  1211       Rakesh    banana      10         10      100    3800
120007 03/03/2021  1211       Rakesh    orange      40         10      400    4200
120009 05/03/2021  1215       Rohan     mango       50         10      500    4700
120011 05/03/2021  1217       mikul     mango       50          6      300    5000
120012 06/03/2021  1218       smile     mango       50         15      750    5750

Total ::                                                              5750

In [24]:
def main_tr_db_103(*i_name):

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity',\
            'amount','a_sum'))
    print()

    for q in i_name:

        item = ''
        quantity = 0
        tr_cu_id = ''
        bill = ''
        date = ''
        tr_cu_name = ''
        item_code = ''
        item_rate = 0
        amount = 0
        a_sum = 0
        x = 0
        f_sum = 0
        prn = 0
        prn1 = 0

        # print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity',\
        #     'amount','a_sum'))
        # print()

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity
                #a_sum = a_sum + amount
                x = x+1

                if item == q:
                    a_sum = a_sum + amount

                    print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                    quantity,amount,a_sum))
                prn = ("Total ::                                                             {:>5}".format(a_sum))
    print()
    print(prn)

In [25]:
main_tr_db_103('grapes','pears','mango','cherry')

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120001 27/02/2021  1210       Rajesh    grapes      45          4      180     180
120005 28/02/2021  1214       Steve     grapes      45          3      135     315
120002 27/02/2021  1211       Rakesh    pears       30          6      180     180
120003 27/02/2021  1212       Sahil     pears       30          2       60     240
120004 28/02/2021  1213       Jack      pears       30          8      240     480
120002 27/02/2021  1211       Rakesh    mango       50          8      400     400
120003 27/02/2021  1212       Sahil     mango       50          6      300     700
120006 02/03/2021  1215       Rohan     mango       50         12      600    1300
120009 05/03/2021  1215       Rohan     mango       50         10      500    1800
120011 05/03/2021  1217       mikul     mango       50          6      300    2100
120012 06/03/2021  1218       smile     mango       50         15      750    2850
120003 27/02/2021  1212       Sahil     cherry      90          5      450     450
120006 02/03/2021  1215       Rohan     cherry      90          7      630    1080
120009 05/03/2021  1215       Rohan     cherry      90          8      720    1800

Total ::                                                              1800

In [26]:
main_tr_db_102(c_date = '28/02/2021',i_name = 'apple',c_name = 'Steve')

NameError: name 'main_tr_db_102' is not defined

In [104]:
def main_tr_db_104(*i_name):

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity',\
            'amount','a_sum'))
    print()

    for q in i_name:

        item = ''
        quantity = 0
        tr_cu_id = ''
        bill = ''
        date = ''
        tr_cu_name = ''
        item_code = ''
        item_rate = 0
        amount = 0
        a_sum = 0
        x = 0
        f_sum = 0
        prn = 0
        prn1 = 0

        # print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity',\
        #     'amount','a_sum'))
        # print()

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity
                #a_sum = a_sum + amount
                x = x+1

                if item == q:
                    a_sum = a_sum + amount
                    print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                    quantity,amount,a_sum))
                #prn = ("Total ::                                                             {:>5}".format(a_sum))

                if tr_cu_id == q:
                    a_sum = a_sum + amount

                    print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                    quantity,amount,a_sum))
                prn = ("Total ::                                                             {:>5}".format(a_sum))
    print()
    print(prn)

In [112]:
main_tr_db_104('1214','1212','apple')

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

120005 28/02/2021  1214       Steve     grapes      45          3      135     135
120005 28/02/2021  1214       Steve     apple       60          7      420     555
120008 04/03/2021  1214       Steve     dates      100         13     1300    1855
120008 04/03/2021  1214       Steve     banana      10         10      100    1955
120008 04/03/2021  1214       Steve     Blackberry 110          2      220    2175
120003 27/02/2021  1212       Sahil     pears       30          2       60      60
120003 27/02/2021  1212       Sahil     apple       60          3      180     240
120003 27/02/2021  1212       Sahil     orange      40          4      160     400
120003 27/02/2021  1212       Sahil     cherry      90          5      450     850
120003 27/02/2021  1212       Sahil     mango       50          6      300    1150
120003 27/02/2021  1212       Sahil     apple       60          7      420    1570
120001 27/02/2021  1210       Rajesh    apple       60          3      180     180
120003 27/02/2021  1212       Sahil     apple       60          3      180     360
120003 27/02/2021  1212       Sahil     apple       60          7      420     780
120005 28/02/2021  1214       Steve     apple       60          7      420    1200
120009 05/03/2021  1215       Rohan     apple       60         10      600    1800
120010 05/03/2021  1216       Millan    apple       60          6      360    2160
120011 05/03/2021  1217       mikul     apple       60          8      480    2640
120012 06/03/2021  1218       smile     apple       60         10      600    3240

Total ::                                                              3240

In [44]:
def main_tr_db_104(*i_name):
    f_sum = 0

    print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity',\
            'amount','a_sum'))
    print()

    for q in i_name:
        print()
        f_sum = f_sum + a_sum

        item = ''
        quantity = 0
        tr_cu_id = ''
        bill = ''
        date = ''
        tr_cu_name = ''
        item_code = ''
        item_rate = 0
        amount = 0
        a_sum = 0
        x = 0

        prn = 0
        prn1 = 0
       
        # print("{}     {}     {}  {:<8}  {:<10} {:>3} {:>3} {:>4} {:>5} ".format('bill','date','tr_cu_id','tr_cu_name','item','item_rate','quantity',\
        #     'amount','a_sum'))
        # print()

        for i in range(len(tr)):
            for j in range(1,len(tr[i])):
                item = tr[i][j][0]
                quantity = tr[i][j][1]
                tr_cu_id = tr[i][0][0]
                bill = tr[i][0][1]
                date = tr[i][0][2]


                for k in range(len(cu)):
                    if tr_cu_id == cu[k][0]:
                        tr_cu_name = cu[k][1]
                for l in range(len(item_detail)):
                    if item == item_detail[l][1]:
                        item_code = item_detail[l][0]
                        item_rate = item_detail[l][2]
                amount = item_rate * quantity
                #a_sum = a_sum + amount
                x = x+1

                if item == q:
                    a_sum = a_sum + amount
                    a = a_sum 
                    print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                   quantity,amount,a_sum))
                #prn = ("Total ::                                                             {:>5}".format(a_sum))

                if cu_name_id(tr_cu_id) == q:
                    a_sum = a_sum + amount
                    b = a_sum

                    print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                        quantity,amount,a_sum))
                
                
                if date == q:
                    a_sum = a_sum + amount
                    c = a_sum
                    print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                   quantity,amount,a_sum))                                             
                if bill == q:
                    a_sum = a_sum + amount
                    d = a+b+a_sum

                    print("{} {}  {}       {:<8}  {:<10} {:>3}        {:>3}     {:>4}   {:>5} ".format(bill,date,tr_cu_id,tr_cu_name,item,item_rate,\
                                                                                                    quantity,amount,a_sum))                                                                                                                           
                
                prn = ("Total ::                                                             {:>5}".format(f_sum))
    print()
    print(prn)

In [45]:
main_tr_db_104('120002','120005','27/02/2021','pears','Millan'

bill     date     tr_cu_id  tr_cu_name  item       item_rate quantity amount a_sum

UnboundLocalError: local variable 'a_sum' referenced before assignment

In [136]:
for i in range(len(tr)):
    for j in range(1,len(tr[i])):
        item = tr[i][j][0]
        quantity = tr[i][j][1]
        tr_cu_id = tr[i][0][0]
        bill = tr[i][0][1]
        date = tr[i][0][2]

    print(tr_cu_id,cu_name_id(tr_cu_id))

1210 Rajesh
1211 Rakesh
1212 Sahil
1213 Jack
1214 Steve
1215 Rohan
1211 Rakesh
1214 Steve
1215 Rohan
1216 Millan
1217 mikul
1218 smile